/*1835*/
.col2-set .col-1, .col2-set .col-2 {
    padding: 20px !important;
    background-color: #fff !important;
}
/*1907
.woocommerce-checkout form #customer_details .form-row input.input-text, 
.login, 
.woocommerce-checkout form .form-row textarea, 
.woocommerce-checkout form .form-row select {
    color: #919191 !important;
    -webkit-border-radius: 0.3em !important;
    -moz-border-radius: 0.3em !important;
    border-radius: 0.3em !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #fffeff !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 0 !important;
    outline: 0 !important;
    background: #f9f9f9 none !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
}*/

/*2011*/
.slider-wrapper, .image-wrapper, .gmap, .youtube-wrapper, .col2-set .col-1, .col2-set .col-2, .blog .comment-body {
    border: 15px solid #fff !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10) !important;
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10) !important;
    margin-bottom: 20px !important;
    position: relative !important;
    background-color: #fff !important;
}