/* Default Skin */
/* Link Hover */
a:hover {
	color: #667b83;
}
#breadcrumb a:hover {
	color: #667b83;
}
/* Widget Title */

.widgettitle {
	color: #667b83;
}

/* Category Product Price Tag */


#content ul.products li .price:after {
	border-color: #49595e transparent transparent #49595e;
}
.es-carousel-wrapper .slide-title:after {
	border-color: #49595e #49595e transparent transparent;
}
.es-carousel-wrapper .slide-title, #content ul.products li .price {
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a8088', endColorstr='#5e7279');
	background: -webkit-gradient(linear, left top, left bottom, from(#6a8088), to(#5e7279));
	background: -moz-linear-gradient(top,  #6a8088,  #5e7279);
	text-shadow: #4c5e64 1px 1px 0;
}

/* Product Price Tag */

div.product p.price:before {
	border-color: transparent transparent transparent #5d7178;
}
div.product p.price {
	color: #fff;
	background-color: #5d7178;
}

/* Product Category Tags */

.single-product .summary .product_meta a {
	color: #667b83;
}

/* Product Description */
div.product .product_title {
	color: #667b83;
}

.single-product .product_tabs .panel h2:first-child,
.single-product .product_tabs .panel #reviews h2 {
	color: #667b83;
}

/* Buttons */

table.shop_table .checkout-button.button, #place_order.button   {
background-color: #667b83;
}
table.shop_table .checkout-button.button:hover, #place_order.button:hover  {
background-color: #54656b;

}

/* Dropcaps */


.square-dropcap, .round-dropcap {

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a8088', endColorstr='#5e7279');
	background: -webkit-gradient(linear, left top, left bottom, from(#6a8088), to(#5e7279));
	background: -moz-linear-gradient(top,  #6a8088,  #5e7279);
	color: #fff;

}

.blog .date small {

	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a8088', endColorstr='#5e7279');
	background: -webkit-gradient(linear, left top, left bottom, from(#6a8088), to(#5e7279));
	background: -moz-linear-gradient(top,  #6a8088,  #5e7279);
	text-shadow: #4c5e64 1px 1px 0;

	padding:6px 0 4px;

	display:block;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}


