.jcarousel-skin-tango{
    padding-left:25px;
    padding-right: 25px;
}
.jcarousel-skin-tango *
{
    color:rgb(145, 145, 145);
}
.jcarousel-skin-tango .jcarousel-container {
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #bfbfbf;
    border: 1px solid #919191;*/
    width: 100%; 
    /*box-shadow: 0px 0px 5px #505050 inset;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    /* padding-top: 10px;
     padding-bottom: 10px;*/
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {

    height: 200px;
}

.jcarousel-skin-tango .jcarousel-item {

    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item *{
    z-index: 50;
    text-align: center;
}
.jcarousel-skin-tango .jcarousel-item .onsale{
    text-align:right;
    position: relative;
    right: -40px;

}
.jcarousel-skin-tango .jcarousel-item .price{
    width: 100%;
    display: block;
    text-align: center;
}


.jcarousel-skin-tango .jcarousel-item img{
    height: 125px;
    display: table-cell;
}
/*
.jcarousel-skin-tango .jcarousel-item-horizontal {
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
}
*/
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
