/* 
    Document   : register-form
    Created on : 21-mar-2013, 14.39.30
    Author     : matteomanco
    Description:
        Purpose of the stylesheet follows.
*/

.general_form
{
    margin: 30px;
}
.general_form p
{
    text-align: center;
}
fieldset
{
    border:solid 1px #595959;
    padding: 15px;  
}

legend
{
    padding-left: 5px;
    padding-right: 5px;
}
.general_form_wrapper .general_form fieldset
{
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1.0;
}
.general_form_wrapper .general_form fieldset>*:not(.tooltip)
{
    line-height: 2em;
}
fieldset.page_title_wrapper
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: none;
    padding: 0px;
}
.general_form fieldset h1.page_title
{
    display: block;
    float:none;
    margin-bottom:0px;
}
legend
{
    margin-left:20px; 
    font-size: 1.3em;
}
label
{
    color: #595959;
    font-weight: 500;
}
form.general_form input
{
    vertical-align: middle;
    border: solid 1px ;
    border-radius: 4px;  
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 2px;
    margin-top: 2px;
}
form.general_form label
{
    margin-bottom: 2px;
    margin-top: 4px;
}
form h1
{
    text-align: center;
    font-size: 2.0em;
}
form.general_form legend
{
    font-size: 0.9em;
}
form.general_form
{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
form.general_form fieldset.naked
{
    border: none; 
    padding: 0px;
    margin: 0px;
    width: 100%;
}
form.general_form>* label
{
    width: 85%;
}
form.general_form>* input
{
    width: 170px;
}
form.general_form fieldset
{
    border-radius: 8px;
}
form.general_form fieldset, form.general_form input
{  
    border-color: #b3b3b3;
}
#registration_button
{
    display: block;
    width:100%;
    font-size: 14px;
    height: auto;
    border: solid 1px #a1a1a1;
}
form.general_form>fieldset>p
{
    text-align: center;
}
/* stile per la struttura*/
form.general_form
{
    margin-top: 5px;
    margin-bottom: 5px;
}
form.general_form>* input[type^=text], form.general_form>* input[type^=password]
{
    -moz-box-shadow:    0px 1px 2px 0px #ccc inset;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc inset;
    box-shadow:         0px 1px 2px 0px #ccc inset;
    border-color: #f7f7f7;
    background: rgba(250,250,250,0.3);

    color:#535353;
}
.general_form_wrapper
{
    width: 650px;

    border-radius: 8px;
    border: solid 1px #b3b3b3;
    padding: 10px;
    background:rgba(180,180,180,0.1);

    -moz-box-shadow:    2px 2px 5px 1px #ccc;
    -webkit-box-shadow: 2px 2px 5px 1px #ccc;
    box-shadow:         2px 2px 5px 1px #ccc;

    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* login form */
form a h6
{
    color: #91bd9f;
    float: right;
    font-weight: 600;
    font-size: 1em;
}
form a h6:hover
{
    color: #595959;
}
div.table_row_wrapper  h1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    float:none;
}
#register_button
{
    float:right;
    position: relative;
    top:6px;
    left:12px;
}

/* stile specifico _ modifca indirizzi di spedizione */
.general_form_wrapper .general_form .alligned_boxes
{
    float: left;
    margin:2px;
    height: 240px;
}
#new_address_field
{
    height: 201px;

    background: url('../images/add_cross.png') center no-repeat;
    opacity: 0.2;

    border:none;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#new_address_field:hover
{
    opacity: 0.5;
}
form[name^="delivery_setting"] tr:last-of-type td:last-of-type
{
    vertical-align: middle;
}
.general_form label h6
{
    line-height: 50%;
    font-size: 0.7em;
    position: absolute;
    text-align: right;
    position:relative;
    display:inline-table;
    margin-left: 2em;
}
.general_form fieldset > *:not(legend):not(.tooltip):not(select)
{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
#register-form>* *:not(legend):not(p):not(form):not(tr):not(td):not(h6):not(.tooltip)
{
    display: block;
    float: left;
}
#register-form .required
{
    width: initial;
    display: block;
    float:left;
}
#register-form #registration_button
{
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* SEZIONE ADMIN */
/* stile per il bottono di ricerca per i file da uploadare*/

#search_file_input_div>input
{
    width: 100%;
    border: 0px;
}
#search_file_input_div
{
    background-color: rgba(190,190,190,0.15);
    border-radius: 5px;
    width: 100%;
}

#loginForm #register_button
{
    left:0px;
    top:5px;
}
