/*Responsive Stylesheet*/

@media only screen and (max-width: 1100px) {
div.product div.images {
	width: 48%;
}

.home .nivoSlider, .nivoSlider {
	height: auto !important;
}
.container, .home .slider-wrapper {
	width: 86.5%; 
}
div.product div.summary {
	width: 49%;
}
}

@media only screen and (max-width: 900px) {
.sf-menu li.search, .sf-menu, pre {
display: none;
}
ul.products li.first {
	clear: right !important;
}
ul.products li.last {
	margin-right: 24px !important;

}
nav#menu select { 
	margin: 15px auto;
	width: 93%;
	background: #f6f6f6;
	color: #666666;
	padding: 5px;
	font-size: 12px;
	line-height:21px;
	border: 1px solid #ccc;
	display: block;
}

div.product div.summary {
	width: 100%;
}
div.product div.images {
	width: 100%;
}	
div.product p.price {
	top: 15px;
	right: 0;
}

.gmap {
	width: 94.5%;
}


}

@media only screen and (max-width: 767px) {
	#calc_shipping_state, #calc_shipping_postcode {
		width: 100%;

}
.shipping_calculator .selectBox-dropdown {
	min-width: 100%;
}
	.shipping_calculator {
	width: 100%;
	float: left;
	clear: both;
}
.cart_totals {
	float: left;
	width: 100%;
}
.blog .post footer {
	width: 100%;
}


.blog .entry-content {
	margin-left: 0px;
	clear: both;
}
.one_quarter { 
	width: 100% !important;
	float: none !important;
}
table.shop_table td.product-thumbnail img {
	width: 100%;
	height: auto;
}
table.shop_table .product-price {
	display: none;
}
ul.products li.first {
	clear: none;
}

.es-carousel-wrapper {
	display: none;
}
.gmap {
	width: 92%;
}
}

@media only screen and (max-width: 667px) {
	.single .blog .post .entry-title {
	
	text-align: center;
	margin-right: 0;
}
.blog #comments {
	margin-right: 0px;

}
li.comment ul.children li {
	margin-left: 0px;
}
.one_third, .two_third, .one_third { 
	width: 100% !important;
	float: none !important;
}
.post_inner {
	margin-right: 0px !important;	
}
table.shop_table .product-thumbnail {
	display: none;
}
.gmap {
	width: 90%;
}	




.blog .date {

	display: none;
}
.blog header figure {

	margin-right:0px;
}
single .blog .post .entry-title {
	text-align: center;
}

}

@media only screen and (max-width: 479px) {

.one_half {
	width: 100% !important;
	float: none !important;
}
#sidebar {	
	float: none;
	width: 100%;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ebebeb;
}	

#shop.archive #sidebar, h3#comments-title {	
	display: none;
}
.single-product .summary .button {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
}

#loginForm input.username {
	width: 100%;
}

#loginForm input.submit {
	width: 100%;
}
#loginForm input.password {
	margin-right: 0;
	width: 100%;
	margin-bottom: 6px;
}
.inner-container, .page-header, #breadcrumb {
	margin-left: 0px;
}
#content {
	background: #fff url(../images/diagonal.png) repeat;
}

#header {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
#header #logo{
float: none;
}
#shopping-bag {
	display: none;
} 
#sidebar .widget:last-child {
	background: none;
}
#footer p {	
	text-align: center;
	margin-left: 0;
}
#calc_shipping_state.input-text {
	width: 100% !important;
}

.cart table.shop_table .checkout-button.button   {
	margin-left: 0 !important;
}
.cart table.shop_table .checkout-button.button, #place_order.button   {
	margin: 10px;
	width: 93%;
	text-align: center;
	float: none;
}
table.shop_table .button {
	margin: 3px 0 0 10px;
}
#coupon_code {
	width: 41%;
}

}

@media only screen and (max-width: 320px) {
}