/* side filters and side bar*/
ul,li,a,span,div,form,input,img,button
{
    margin:0px;
    padding:0px;
}
.filter_bar {
    margin-bottom: 30px;
}
.filter_bar *
{
    color:rgb(145, 145, 145);
}
.filter_bar button:hover
{
    color:rgb(102, 123, 131);
}
.filter_bar li
{
    border-radius:4px;
    line-height: 1.1em;
}
/*.filter_bar>ul>li>span*/
.widget_wrapper form>ul>li>span
{
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
}
/*.filter_bar ul ul>li>span*/
.widget_wrapper form ul ul>li>span
{
    text-decoration:underline;
}
/*.filter_bar span*/
.widget_wrapper span
{
    cursor:default;
}
/* .filter_bar *        */
.widget_wrapper *
{
    font-family:'Maven Pro', sans-serif;
    text-transform:capitalize;
}
.filter_bar ul
{
    list-style:none;
}
ul>li>input, ul>li>span, ul>li>button
{
    border:none;
    background-color:transparent;
}
.filter_bar ul ul
{
    margin-bottom:10px;
}
.filter_bar>ul>li>ul
{
    margin-top: 0.9em;
}
.filter_bar>ul ul>li
{
    padding-left:1em;
}
.filter_bar ul ul *
{
    font-size:10px;
    padding:1px 0px 1px 0px;
}
.filter_bar .star_row *
{
    font-size: 12px;
}
.star_row *
{
    width:75px;
    height:15px;
}
.star_row>span
{
    padding:0px;
    background:url('../images/stelle.png') no-repeat 0px 2px;
    z-index:-999;
}
@-moz-document url-prefix() 
{
    .star_row>span
    {
    padding:0px;
    background:url('../images/stelle.png') no-repeat 0px 0px;
    z-index:-999;
} 
}
.star_row input, .star_row button
{
    border:none;
    background-color:transparent;
    color:transparent;
    background-clip:padding-box; 
    background:url('../images/stelle_on.png') no-repeat ;
}
.star_row input:checked
{
    background-image: url('../images/stelle_on_checked.png') ; 
}
.star_row button
{
    position: relative;
    top: 1;
}
#star_0
{
    background-position: 75px -2px;
}
#star_1
{
    background-position: 60px -2px;
}
#star_2
{
    background-position: 45px -2px;
}
#star_3
{
    background-position: 30px -2px;
}
#star_4
{
    background-position: 15px -2px;
}
#star_5
{
    background-position: 0px -2px;
}

.filter_bar>ul ul:not(.hasSubMenus) li:hover
{
    box-shadow:rgba(20,20,20,.1) 0px 0px 14px inset;
    border-radius:0px;   

    transition: ease-out 0s;
    -webkit-transition:ease-out 0s;
    -moz-transition: ease-out 0s;
    -ms-transiton: ease-out 0s;
    -o-transition: ease-out 0s;
}
.filter_bar>ul ul li
{
    transition: ease-out .5s;
    -webkit-transition:ease-out .5s;
    -moz-transition: ease-out 0.5s;
    -ms-transiton: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}
span span.title_note
{
    text-transform:none;
    display:inline;
    font-size:0.8em;
}
.filter_bar>ul>li
{
    margin-top:25px;
    border-radius:0px;
    /* box-shadow:rgba(69,69,69,0.3) 0px 6px 16px -10px;*/
    box-shadow:rgba(69,69,69,0.3) 0px 13px 14px -16px;
    padding-bottom:10px;
}
.filter_bar>ul>li:last-child
{
    box-shadow: none;
}

/*.filter_bar>ul>li:last-child button
{
    background:url('../images/per.png') no-repeat center left;
    padding-left: 14px;
}*/

.filter_bar .button{
    width: 100%;
}


/* old side_bar.css snippet*/

.side_username
{
    text-align: center;  
}
#logout_button input
{
    width:100%;
}

.error_message
{
    margin-top: 10px;
    color:#d66565;
    border:1px solid #a39696;
    width: 100%;
    border-radius: 3px;
    min-height: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #d66565;
}
aside#sidebar>.widget_wrapper
{
    margin-top: 30px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* allineamento delle stelle*/
.filter_bar .star_row span,
.filter_bar .star_row button,
.filter_bar .star_row input
{
    padding:0px;
    margin:0px;
    border:0px;
    text-decoration: none;
    background-position: 0px 0px;
}

/* login widget*/
#loginForm
{
    margin-bottom:70px;
}
.widget_wrapper #loginForm *
{
    text-transform: none;
}