thead td
{
    text-align:center;
}
tfoot input
{
    display:block;
    margin-right:auto;
    margin-left:auto;
    
    width:100%;
}
table.side_menu_set
{
    border:1px solid #434343;
}
.side_username
{
  text-align: center;  
}

aside#sideba li.star_row input
{
    -webkit-appearance: none;
    
}
