html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select 
{
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;}
body#shop
{
    min-width: 760px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
{
    display: block;
}
body 
{
    line-height: 1;
}
blockquote,q 
{
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after 
{
    content: none;
}
del 
{
    text-decoration: line-through;
}
hr 
{
    background: transparent;
    border: 0;
    clear: both;
    color: transparent;
    height: 0px;
    margin: 0;
    padding: 0;
}
mark 
{
    background-color: #ffffb3;
    font-style: italic;
}
input,select 
{
    vertical-align: middle;
}
ins 
{
    color: #595959;
    text-decoration: none;
    margin-left: 5px;
}
ol,ul 
{
    list-style: none;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* Clearfix */
.clear 
{
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after 
{
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
* html .clearfix,:first-child+html .clearfix 
{
    zoom: 1;
}
/* Some basic settings */
h1 
{
    font-size: 18px;
}
h2 
{
    font-size: 16px;
}
h3 
{
    font-size: 14px;
}
h4 
{
    font-size: 12px;
}
h5 
{
    font-size: 10px;
}
small 
{
    font-size: 10px;
}
ol 
{
    list-style: decimal;
}
ul 
{
    list-style: disc;
}
li 
{
    list-style: none;
}
img 
{
    margin-bottom: 0px;
}
dl,hr,h1,h2,h3,h4,h5,h6,ol,pre,table,address,fieldset,blockquote,article,p 
{
    margin-bottom: 15px;
}
/* ---------------------------------------------------------------------- */
/*Basic Elements & Classes ---------------------------------------------------------------------- */
html 
{
    -webkit-text-size-adjust: none;
    /* Prevent font scaling in landscape */}
body 
{
    color: #919191;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font: 62.5%/1.8 'Maven Pro', sans-serif;
    background: #404040 url('../images/bg.jpg') repeat;
}
h1, h2, h3, h4, h5, h6 
{
    color: #6b6b6b;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 10px;
}
::-moz-selection 
{
    background: #667b83;
    color: #fff;
    text-shadow: none;
}
::selection 
{
    background: #667b83;
    color: #fff;
    text-shadow: none;
}
a, .submit, .button, #submit, a > * /* teo mods - regola successiva*/
{
    color: #919191;
    text-decoration: none;
    -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}
hr 
{
    margin-top: 15px;
    margin-bottom: 25px;
    border-top: 1px dotted #e1e1e1;
}
.alignright 
{
    float: right;
}
.alignleft 
{
    float: left;
}
img.alignleft 
{
    margin-right: 10px;
    float: left;
    height: 25px;
    position: relative;
    top: -3px;
}
img.alignright 
{
    display: inline;
    float: right;
    margin-left: 15px;
}
.container 
{
    margin: 0 auto;
    width: 950px;
    position: relative;
}
#header 
{
    margin-top: 55px;
    margin-bottom: 50px;
}
#logo 
{
    float: left;
    top: 5px;
    position: relative;
}
/* Superfish Essential */
nav#menu select 
{
    display: none;
}
#menu 
{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dadada;
    position: relative;
    height: 54px;
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e6e6e6');
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e6e6e6));
    background: -moz-linear-gradient(top, #eeeeee, #e6e6e6);
    background: -webkit-gradient(linear, left top, left bottom) teo mod -background: -moz-linear-gradient(center top , rgb(239, 236, 239), rgb(242, 240, 240)) repeat scroll 0% 0% transparent;
    */
    background-image: linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -o-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -moz-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -webkit-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -ms-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F2F0F0), color-stop(1, #EFEBEF) );
}
.sf-menu, .sf-menu * 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu 
{
    line-height: 1.0;
}
.sf-menu ul 
{
    position: absolute;
    top: -999em;
    text-align: left;
    border: 1px solid #d9d9d9;
    border-bottom-style: none;
}
.sf-menu ul li 
{
    width: 100%;
}
.sf-menu li:hover 
{
    visibility: inherit;
}
.sf-menu li 
{
    float: left;
    position: relative;
}
.sf-menu a 
{
    display: block;
    position: relative;
}
.sf-menu li:not(.search):hover ul,.sf-menu li.sfHover ul 
{
    top: 54px;
    z-index: 99;
    left: -1px;
}
.ie8 .sf-menu li:hover ul,.ie8 .sf-menu li.sfHover ul, .not-ie .sf-menu li:hover ul,.not-ie .sf-menu li.sfHover ul 
{
    /* top: 5.8em;
    teo mods*/
    top:54px;
}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul 
{
    top: -999em;
}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul 
{
    left: 100%;
    top: -2px;
}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul 
{
    top: -999em;
}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul 
{
    left: 15em;
    top: 0;
}
/* Superfish Skin */
.sf-menu 
{
    width: 100%;
}
/* teo mods backup.sf-menu a 
{
 border-left: 1px solid #f8f8f8;
 border-right: 1px solid #d9d9d9;
 text-decoration: none;
 padding: 2.4em 2.6em;
}
*/
.sf-menu a 
{
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #d9d9d9;
    text-decoration: none;
    line-height: 54px;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.sf-menu a, .sf-menu a:visited 
{
    text-shadow: #fff 1px 1px 0;
    /* font-family: 'Helvetica', sans-serif;
    teo mods*/
    font-family: 'Maven Pro', sans-serif;
    color: #8a8a8a;
    font-size: 1.5em;
    text-transform: uppercase;
}
.sf-menu .current-menu-item a 
{
    color: #5b5b5b;
}
.sf-menu .current-last-menu-item a 
{
    color: #5b5b5b;
}
.sf-menu .current-last-menu-item a:after 
{
    content: ' ';
    position: absolute;
    width: 1px;
    border-right: 1px solid #f8f8f8;
    right: -2px;
    top: 0;
    height: 100%;
}
ul .current-menu-item .sub-menu a 
{
    color: #8a8a8a;
}
.sf-menu li li:last-child a 
{
    border-bottom: 1px solid #f8f8f8;
}
.logged-in .sf-menu .last-menu-item 
{
    border-right: none;
}
.sf-menu .last-menu-item, .sf-menu .logout 
{
    border-right: 1px solid #f8f8f8;
}
.sf-menu li li a 
{
    border-right: 1px solid #f8f8f8;
}
.sf-menu li li, .sf-menu li li li 
{
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #d9d9d9;
    background: #eeeeee;
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e6e6e6');
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e6e6e6));
    background: -moz-linear-gradient(top, #eeeeee, #e6e6e6);
    teo mods teo-mods-background: -moz-linear-gradient(center top , rgb(239, 236, 239), rgb(242, 240, 240)) repeat scroll 0% 0% transparent;
    */
    background-image: linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -o-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -moz-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -webkit-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -ms-linear-gradient(bottom, #F2F0F0 0%, #EFEBEF 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0,#F2F0F0), color-stop(1,#EFEBEF) );
}
.sf-menu li:hover, .sf-menu li.sfHover,.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active 
{
    outline: 0;
}
.sf-menu li a:hover, #main-nav ul ul li a:hover 
{
    color: #5b5b5b;
}
/* Search Bar */
.sf-menu li.search #s.text_input 
{
    font-size: 12px;
    color: #5b5b5b;
    margin-top: 10px;
    width: 125px;
    margin-left: 5px;
}
.sf-menu li.search #searchsubmit 
{
    cursor: pointer;
    text-indent: -99999px;
    float: right;
    background: url('../images/mag_glass2.png') no-repeat;
    opacity: .4;
    width: 41px;
    height: 33px;
    margin-top: 1px;
    border-right: 1px solid rgba(100,100,100,0.1);
    border-left: 1px solid rgba(100,100,100,0.1);
    box-shadow: rgba(225,262,238,1) 0px 0px 7px 2px inset;
    margin-left: -5px;
}
/* backup teo mods.sf-menu li.search #searchsubmit 
{
 cursor: pointer;
 text-indent: -99999px;
 float: right;
 background: url('../images/search.png') no-repeat;
 width: 41px;
 height: 33px;
 margin-top: 1px;
 margin-left: -5px;
}
.sf-menu li.search 
{
 border: none;
 float: right;
 margin-top: 0.8em;
 margin-bottom: 0.8em;
 background: url('../images/search-bg.png') no-repeat;
 margin-right: 12px;
 width: 178px;
 text-align: left;
 text-indent: 5px;
}
*/
.sf-menu li.search 
{
    border: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background: url('../images/search-bg.png') no-repeat;
    teo mods*/
    margin-right: 10px;
    width: 178px;
    text-align: left;
    text-indent: 5px;
    background-image: linear-gradient(bottom, rgba(220,218,218,0.4) 8%, rgba(230,230,230,0.4) 68%, rgba(220,218,218,0.4) 90%);
    background-image: -o-linear-gradient(bottom, rgba(220,218,218,0.4) 8%, rgba(230,230,230,0.4) 68%, rgba(220,218,218,0.4) 90%);
    background-image: -moz-linear-gradient(bottom, rgba(220,218,218,0.4) 8%, rgba(230,230,230,0.4) 68%, rgba(220,218,218,0.4) 90%);
    background-image: -webkit-linear-gradient(bottom, rgba(220,218,218,0.4) 8%, rgba(230,230,230,0.4) 68%, rgba(220,218,218,0.4) 90%);
    background-image: -ms-linear-gradient(bottom, rgba(220,218,218,0.4) 8%, rgba(230,230,230,0.4) 68%, rgba(220,218,218,0.4) 90%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.08, rgba(220,218,218,0.4)), color-stop(0.68, rgba(230,230,230,0.4)), color-stop(0.9, rgba(220,218,218,0.4)) );
}
/* Shopping Bag */
#shopping-bag 
{
    height: 45px;
    cursor: pointer;
    background: url('../images/bag.png') no-repeat;
    float: right;
}
#shopping-bag ul 
{
    margin-left: 40px;
}
#shopping-bag:hover 
{
    background: url('../images/bag.png') no-repeat 0 bottom;
}
#shopping-bag .amount 
{
    color: #dbdbdb;
    min-width: 100px;
    text-shadow: #272727 1px 1px 1px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    top: 3px;
}
#shopping-bag .cart-info 
{
    text-align: left;
    min-width: 100px;
    font-size: 10px;
    line-height: 18px;
}
#shopping-bag .cart-info a 
{
    color: #adadad;
}
/* Page Wrappers */
#wrapper 
{
    background: #fff url('../images/content-bg.png') repeat-y;
}
#content 
{
    font-size: 1.2em;
    float: left;
    width: 100%;
}
.page .page-title, .single .page-title, .category .page-title, .tag .page-title 
{
    font-weight: 300;
    padding: 20px 20px 20px 25px;
    background-color: #ffffff;
    word-spacing: 3px;
    border-bottom: 1px dotted #e1e1e1;
    margin: 0;
}
.inner-container 
{
    padding: 25px;
}
#shop.archive .inner-container 
{
    float: none;
}
.home .inner-container 
{
    padding-bottom: 0;
}
#content .navigation 
{
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}
/* Sidebar */
#sidebar 
{
    padding-top: 10px;
    min-height: 100px;
    border-top: 1px solid #f8f8f8;
    float: left;
    left: 185px;
    margin-left: -185px;
    position: relative;
    width: 185px;
    overflow-y: auto;
    overflow: visible;
}
widget widget_loginform widget 
{
    /*76*59*/
    background: url('../images/widget-divider.png') no-repeat right bottom;
    padding-top:0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.widget ul ul 
{
    margin: 0;
}
.widget ul li a 
{
    font-size: 11px;
    text-shadow: #fff 1px 1px 0;
    line-height: 23px;
}
.widget ul li 
{
    margin: 0;
    padding: 0;
}
/* Social Widget */
#sidebar .widget_socialwidget .widgettitle 
{
    margin-bottom: 14px;
}
#sidebar .widget ul.social a 
{
    display: block;
    background: url('../images/social-icons.png') no-repeat;
    padding-left: 22px;
}
#sidebar .widget ul.social a.facebook 
{
    background-position: 0 -18px;
}
#sidebar .widget ul.social a.twitter 
{
    background-position: 0 -43px;
}
#sidebar .widget ul.social a.rssfeed 
{
    background-position: 0 -67px;
}
#sidebar .widget ul.social a.email 
{
    background-position: 0 5px;
}
/* Login Widget */
#sidebar .widget.widget_loginform 
{
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding: 0 0 49px;
    width:148px;
}
#loadplace 
{
    display: none;
}
#loadplace li.try-again a
{
    font-size: 10px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    line-height: 12px;
}
#loginForm ul, #loadplace ul 
{
    width: 100%;
}
#loginForm ul li, #loadplace ul li 
{
    text-transform: uppercase;
    margin-bottom: 6px;
}
#loginForm input.username 
{
    width: 125px;
    width: 100%;
    margin: 0;
    outline: 0;
    font-size: 11px;
}
#loginForm input.username, #loginForm input.password 
{
    padding: 9px;
    color: #979797;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    background-image: url('../images/diagonal.png');
}
#loginForm input.password 
{
    width: 57%;
    ;
    margin-right: 3px;
}
#loginForm input[type^="submit"]
{
    width: 35%;
    float:right;
}
#loadplace ul li.error-field 
{
    text-shadow: #fff 1px 1px 0;
    color: #868686;
    font-size: 11px;
    background: transparent url('../images/login_error_icon.png') no-repeat 0 center;
    font-style: normal;
    text-transform: none;
    margin-bottom: 16px;
    margin-top: 17px;
    font-weight: normal;
    line-height: 16px;
}
#loginformnav ul li.user-field, #loginformnav ul li.pass-field, #loadplace ul li.try-again 
{
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
}
/* Layered Nav WIdget */
.widget_layered_nav ul li a
{
    width: 80%;
    display: inline-block;
}
.widget_layered_nav ul li .count 
{
    float:right;
    background:#eee;
    padding:0 8px;
    font-weight:bold;
}
.widget_layered_nav ul li .count 
{
    color: #b5b5b5;
    text-shadow: #fff 1px 1px 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    font: 9px 'Maven Pro', sans-serif ;
    border: 1px solid #e8e8e8;
    float: right;
    padding: 4px 7px;
}
/* Product List / Best Sellers Widget */
#sidebar .widget ul.product_list_widget li:first-child 
{
    border-top:none;
    padding-top: 0;
}
#sidebar .widget ul.product_list_widget li:last-child 
{
    border-bottom:none;
}
#sidebar .widget ul.product_list_widget li 
{
    list-style: none;
    padding: 8px 0 12px;
    margin: 0;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    width: 100%;
}
#sidebar .widget .product_list_widget li a 
{
    font-weight: bold;
    display: block;
    line-height: 14px;
}
#sidebar .widget .product_list_widget li img 
{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 4px;
    width: 48px;
    height: auto;
    border-radius: 4px;
    float: right;
}
/* Dropdown Widget */
.widget_nav_menu .sub-menu 
{
    display: none;
}
ul.menu li a 
{
    display: block;
}
ul.menu li a.active 
{
    color: #667b83;
}
ul.menu li 
{
    font-family: 'Maven Pro', sans-serif;
    /*font-size: 11px;
    */
    margin: 0;
    padding: 0;
}
ul.menu li ul li a, ul.menu ul.menu li ul li a 
{
    text-indent: 10px;
}
.menu li ul li ul li a 
{
    text-indent: 20px;
}
/* Product Widget */
.widget ul li.productwidget a 
{
    padding: 0;
}
.productwidgetimg 
{
    display: block !important;
    position: relative !important;
    width: 100% !important;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.productwidgetimg img 
{
    border-radius: 5px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
    display: block !important;
    width: 100% !important;
    height: auto;
}
.productwidgetimg img:hover 
{
    opacity: 0.7;
}
/* Breadcrumbs */
#breadcrumb 
{
    padding: 25px;
    color: #8f8f8f;
    background-color: #ffffff;
    border-bottom: 1px dotted #e1e1e1;
    text-transform: uppercase;
    font-size: 0.78em;
    font-weight:bold;
    font-family: 'Maven Pro', sans-serif;
}
#breadcrumb:after 
{
    content: "";
    clear: both;
}
#breadcrumb a 
{
    color: #b5b5b5;
}
/* Product */
#content ul.products li .price {
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    padding: 7px 14px;
    line-height: 20px;
}
#content ul.products li .price:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-width: 4px 4px;
    border-style: solid;
}

#content ul.products li .price 
{
    right: -8px;
    top: 10px;
}
.ie8 #content ul.products li .price 
{
    right: 0px;
    top: 12px;
}
#content ul.products li .price:after 
{
    right: 0px;
}
.summary .variations_form table 
{
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
}
.summary .variations_form table td label 
{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
}
.summary .variations_form table td 
{
    border: 1px dotted #e1e1e1;
    padding: 10px;
}
.summary .variations_form table td .selectBox-dropdown 
{
    min-width: 100%;
}
.summary .variations_form table td .reset_variations 
{
    width: 1px;
    height: 1px;
    text-indent: -9999px;
    float: right;
}
.single div.product .onsale 
{
    display: none;
}
.single div.product 
{
    position: relative;
}
div.product .product_title 
{
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    width: 330px;
}
div.product p.price:after 
{
    background: #fffeff none repeat scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    right: 0;
    top: 17px;
    width: 5px;
}
div.product p.price:before 
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid;
    border-width: 18px;
    content: "";
    position: absolute;
    right: -36px;
    top: 0;
}
div.product div.summary p 
{
    clear: both;
}
div.product div.summary p.price 
{
    clear: none;
    font-size: 1.5em;
}
div.product p.price 
{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
    padding: 5px 16px 5px 12px;
    line-height: 26px;
    float: right;
    position: absolute;
    right: 0px;
}
div.product p.price .amount 
{
    color: #FFFFFF;
}
div.product div.images 
{
    margin-bottom: 20px;
    float: left;
    width: 345px;
}
div.product p.price del 
{
    font-size: 14px;
    color: #fff;
}
div.product div.images a 
{
    border: 15px solid #fefefe;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px#888;
    box-shadow: 0 0 4px #d4d4d4;
    background: #fff;
    display: block;
    height: auto;
    width: auto;
}
.single-product .product .wp-post-image 
{
    max-width:100%;
    height:auto;
    width:auto;
}
div.product div.images img 
{
    display: block;
}
div.product div.images div.thumbnails 
{
    overflow: hidden;
    zoom: 1;
    width: 100%;
    margin-top: 0;
    margin-left: -5px;
}
div.product div.images div.thumbnails .zoom 
{
    border-width: 5px;
}
div.product div.images div.thumbnails:after 
{
    content: "";
    display: block;
    clear: both;
}
div.product div.images div.thumbnails a 
{
    float: left;
    padding: 0;
    width: auto;
    margin: 10px 5px 5px;
}
div.product div.images div.thumbnails a img 
{
    height: auto;
    width: 45px;
}
div.product div.summary 
{
    padding-top: 0;
    line-height: 24px;
    width: 350px;
    float: right;
}
div.product div.summary .cart 
{
    clear: both;
    width: 100%;
}
.single-product .summary .product_meta 
{
    font-size: 0.8751em;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
}
.single-product .summary .product_meta a 
{
    text-transform: capitalize;
}
.single-product .product .product_tabs ul.tabs 
{
    margin: 0;
}
.single-product .product .product_tabs ul.tabs li 
{
    width: auto;
}
.single-product .product .product_tabs ul.tabs li:nth-child(2n) 
{
    float: left;
}
.single-product .product .product_tabs ul.tabs li a 
{
    -webkit-border-top-left-radius: 0.53em;
    -webkit-border-top-right-radius: 0.53em;
    -moz-border-radius-topleft: 0.53em;
    -moz-border-radius-topright: 0.53em;
    border-top-left-radius: 0.53em;
    border-top-right-radius: 0.53em;
}
.single-product .product .product_tabs,.single-product .product .related-products 
{
    clear: both;
}
.single-product .product_tabs 
{
    margin-bottom: 25px;
}
.single-product .product_tabs ul.tabs 
{
    border: 1px solid #ebebeb;
    list-style: none;
    margin: 0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
    background: -webkit-linear-gradient(#fbfbfb, #f7f7f7);
    background: -moz-linear-gradient(center top, #fafafa 0%, #ededed 100%);
    background: -moz-gradient(center top, #fafafa 0%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fafafa,endColorstr=#ededed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fafafa, endColorstr=#ededed)";
    -webkit-border-top-left-radius: 0.53em;
    -webkit-border-top-right-radius: 0.53em;
    -moz-border-radius-topleft: 0.53em;
    -moz-border-radius-topright: 0.53em;
    border-top-left-radius: 0.53em;
    border-top-right-radius: 0.53em;
}
.single-product .product_tabs ul.tabs:after 
{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.single-product .product_tabs ul.tabs li 
{
    width: 48%;
    float: left;
    top: 1px;
    position: relative;
}
.single-product .product_tabs ul.tabs li:nth-child(2n) 
{
    float: right;
}
.single-product .product_tabs ul.tabs li.active:first-child a 
{
    -webkit-border-top-left-radius: 0.53em;
    -moz-border-radius-topleft: 0.53em;
    border-top-left-radius: 0.53em;
}
.single-product .product_tabs ul.tabs li a 
{
    display: block;
    padding: 1em 1.5em;
    color: #989898;
}
.single-product .product_tabs ul.tabs li a:hover 
{
    background: #fff;
    text-decoration: none;
}
.single-product .product_tabs ul.tabs li.active a 
{
    background: #fff;
    text-decoration: none;
    -webkit-border-top-left-radius: 0em;
    -webkit-border-top-right-radius: 0em;
    -moz-border-radius-topleft: 0em;
    -moz-border-radius-topright: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}
.single-product .product_tabs .panel 
{
    padding: 1.618em;
    background: #fff;
    -webkit-border-bottom-left-radius: 0.53em;
    -webkit-border-bottom-right-radius: 0.53em;
    -moz-border-radius-bottomleft: 0.53em;
    -moz-border-radius-bottomright: 0.53em;
    border-bottom-left-radius: 0.53em;
    border-bottom-right-radius: 0.53em;
    border: 1px solid #ebebeb;
    border-top-style: none;
}
.single-product .product_tabs .panel h2:first-child,.single-product .product_tabs .panel #reviews h2 
{
    margin: 0 0 1.2em;
    padding-top: 0;
    font-size: 14px;
    text-transform: capitalize;
}
.single-product .product_tabs .panel ul,.single-product .product_tabs .panel ol 
{
    margin-left: 1.618em;
}
ul.products,.upsells.products ul.products,ul,.upsells.products ul 
{
    float: none;
}
ul.products .count 
{
    display: none;
}
.products ul, ul.products 
{
    padding: 0;
    list-style: none outside;
    margin: 0;
}
#shop.archive #content h1 
{
    font-weight: 300;
    margin: 0;
    padding-bottom: 20px;
}
ul.products 
{
    margin-left: 0;
    padding-left: 0;
}
ul.products li 
{
    position: relative;
}
#content ul.products li 
{
    text-align: center;
    -webkit-transition: all ease-in-out .2s;
    border: 1px solid #eaeaea;
}
#content ul.products li h3 
{
    background-color: #f3f3f3;
    margin-bottom: 0;
    padding-bottom: 15px;
    bottom: 0;
    position: absolute;
    font: 0.9em 'Maven Pro', sans-serif ;
    width: 220px;
    padding-top: 15px;
    border-top: 1px solid #eaeaea;
}
#content ul.products li .price del 
{
    display: none;
}
#content ul.products li .price ins 
{
    margin: 0;
    color: #fff;
}
#content ul.products li .onsale 
{
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #fff;
    font: bold 10px Arial;
    -webkit-transition: all ease-in-out .2s;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 84px;
    background-color: #000;
    background-image: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-shadow: none;
    z-index: 1;
    text-transform: uppercase;
}
#content ul.products li:hover .onsale 
{
    filter: alpha(opacity=50);
    opacity: 0.5;
    top: 55px;
}
#content ul.products li 
{
    background: white url('../images/loading.gif') no-repeat scroll 50% 40%;
    float: left;
    margin-bottom: 24px;
    margin-right: 24px;
    width: 220px;
    height: 207px;
    position: relative;
}
#content ul.products li img 
{
    display: box ;
    /*TEO MODS none*/
    width: auto;
    height: auto;
    position: relative;
}
ul.products li.first 
{
    clear: both;
}
ul.products li.last 
{
    margin-right: 0;
}
#content ul.products li .button 
{
    display: none;
}
#content ul.products li:hover 
{
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 6px 0px #cecece;
}
#main-content 
{
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}
#page-content 
{
    padding: 10px 20px 20px;
}
.clearboth 
{
    clear: both;
}
.related, .upsells 
{
    clear: both;
}
.related h2, .upsells h2 
{
    font-size: 14px;
}
.upsells 
{
    margin-left: 20px;
    margin-top: -20px;
}
.related:after,.upsells.products:after 
{
    content: "";
    display: block;
    clear: both;
}
.related ul.products,.upsells.products ul.products,.related ul,.upsells.products ul 
{
    float: none;
}
.related ul.products li.product,.upsells.products ul.products li.product,.related ul li.product,.upsells.products ul li.product 
{
    width: 48%;
}
.related ul.products li.product img,.upsells.products ul.products li.product img,.related ul li.product img,.upsells.products ul li.product img 
{
    width: 5%;
    height: auto;
}
table.shop_attributes 
{
    border: 0;
    border-top: 1px dotted rgba(0,0,0,0.1);
    margin-bottom: 1.618em;
    width: 100%;
}
table.shop_attributes th 
{
    width: 150px;
    font-weight: bold;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
}
table.shop_attributes td 
{
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
}
table.shop_attributes td p 
{
    margin: 0;
    padding: 8px 0;
}
table.shop_attributes .alt td,table.shop_attributes .alt th 
{
    background: rgba(0,0,0,0.025);
}
table.shop_table dl.variation 
{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #9a9a9a;
}
table.shop_table dl.variation dt 
{
    float: left;
    margin-right: 5px;
}
table.shop_table dl.variation dd 
{
    font-weight: bold;
}
table.shop_table 
{
    border: 1px solid #ebebeb;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    background-color: #fff;
    margin-left: 0;
}
.orderHead
{
    background-color: rgba(140, 170, 187, 0.3);
    color: rgb(94, 99, 111);
}
.shop_table.resumeOrder
{
    border: solid 1px rgba(150,150,150,0.5);
    box-shadow: 0px 0px 2px 1px gainsboro;
}
table.shop_table tr.cart-subtotal th, table.shop_table tr.shipping th, table.shop_table tr.total th 
{
    border-top: 1px solid #ebebeb;
}
table.shop_table thead 
{
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 1%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbfbfb), color-stop(100%, #f7f7f7));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f7f7f7', GradientType=0);
}
.cart table.shop_table .checkout-button.button, #place_order.button 
{
    margin: 0;
}
table.shop_table .checkout-button.button, #place_order.button 
{
    float: right;
    margin: 0 10px 10px 0;
}
#place_order.button 
{
    padding: 8px 12px;
}
table.shop_table .button 
{
    margin-left: 10px;
}
table.shop_table .coupon .button 
{
    float: none;
}
table.shop_table .coupon 
{
    float: left;
}
table.shop_table th 
{
    text-shadow: #fff 1px 1px 0;
    font-weight: bold;
    line-height: 18px;
    padding: 10px 12px;
}
table.shop_table td 
{
    padding: 8px 12px;
    vertical-align: middle;
    border-top: 1px solid #ebebeb;
}
table.shop_table td.product-remove .remove:hover 
{
    background: #fff;
}
.shop_table .product-remove .remove 
{
    border: 1px solid #ebebeb;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    background: #fafafa;
    font-size: 11px;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: #c9c9c9;
    cursor: pointer;
}
table.shop_table td.product-name 
{
    text-transform: capitalize;
}
table.shop_table tfoot td 
{
    font-weight: bold;
}
.not-ie .selectBox-dropdown 
{
    filter: none;
}
/* Custom Select Box */
.selectBox-dropdown, .widget_layered_nav ul li .count
{
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
    background: -webkit-linear-gradient(#fefefe, #f4f4f4);
    background: -moz-linear-gradient(center top, #fefefe 0%, #f4f4f4 100%);
    background: -moz-gradient(center top, #fefefe 0%, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fefefe,endColorstr=#f4f4f4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fefefe, endColorstr=#f4f4f4)";
}
.selectBox-dropdown 
{
    position: relative;
    border: 1px solid #dadada;
    outline: none;
    min-width: 177px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 0.8em 'Maven Pro', sans-serif;
}
#checkout-form .col-1,#checkout-form .col-2, #payment.col2-set
{
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    background: rgba(180,180,180,0.1);
    box-shadow: 2px 2px 5px 1px #ccc;
}
#checkout-form input[type='text']
{
    background-color: rgba(250, 250, 250, 0.298039) !important;
    box-shadow: 0px 1px 2px 0px #ccc inset !important;
    border-color: #f7f7f7 !important;
    color: #535353 !important;
    background: rgba(250,250,250,0.3) !important;
}
.col-2 .selectBox-dropdown, .col-1 .selectBox-dropdown 
{
    min-width: 0px;
    width: 99% !important;
}
.selectBox-dropdown.selectBox-menuShowing 
{
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label 
{
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 9px 8px 9px 12px;
    color: #989898;
    text-shadow: #fff 1px 1px 0;
}
.selectBox-dropdown .selectBox-arrow 
{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 100%;
    background: url('../images/select-arrows.png') no-repeat center center;
    border-left: solid 1px #dadada;
}
.selectBox-dropdown-menu 
{
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: 1px solid #dadada;
    background: #FFF;
    overflow: auto;
    border-top-style: none;
}
.selectBox-inline 
{
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}
.selectBox-inline:focus 
{
    border-color: #666;
}
.selectBox-options,.selectBox-options LI,.selectBox-options LI A 
{
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}
.selectBox-options li a 
{
    color: #919191;
    text-shadow: #fff 1px 1px 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
    padding: 0 .5em 0 12px;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    line-height: 3.5em;
    font-weight: bold;
}
.selectBox-options LI.selectBox-hover A 
{
    background-color: #f6f6f6;
}
.selectBox-options LI.selectBox-disabled A 
{
    color: #b5b5b5;
    background-color: transparent;
}
.selectBox-options LI.selectBox-selected A 
{
    background-color: #f6f6f6;
}
.selectBox-options .selectBox-optgroup 
{
    color: #b5b5b5;
    background: #f6f6f6;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}
/* Product Post */
.single-product .summary .stock, .single-product .summary .single_variation_wrap .single_variation p.stock, .single-product .summary .single_variation_wrap .single_variation p.price 
{
    clear: none;
    margin-bottom: 0;
    float: left;
}
.single-product .summary .stock, .single-product .summary .single_variation_wrap .single_variation .stock, .single-product .summary .single_variation_wrap .single_variation .price 
{
    border: 1px solid #ebebeb;
    -webkit-border-radius: 0.382em;
    -moz-border-radius: 0.382em;
    border-radius: 0.382em;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    background-color: #fff;
    float: left;
    text-transform: uppercase;
    font: bold 10px Arial;
    margin-right: 10px;
}
.single-product .summary .single_variation_wrap .single_variation .price 
{
    color: #667b83;
    border-right: 1px solid #ebebeb;
    float: left;
}
.single-product .summary p.stock 
{
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    margin-right: 0;
}
.single-product .summary .variations_form.cart .single_variation_wrap .single_variation p.stock 
{
    position: relative;
}
.single-product .summary .stock, .single-product .summary .single_variation_wrap .single_variation .price, .single-product .summary .single_variation_wrap .single_variation p.stock 
{
    padding: 9px;
}
/* Add to Cart Button */
.single-product .summary .button:active 
{
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
    top: 0;
}
.single-product .summary .button:hover 
{
    text-decoration: none;
    background-color: #fbcf94;
}
.single-product .summary .button 
{
    border: 1px solid #c17a1c;
    color: #ffffff !important;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    width: auto;
    background-color: #daa54c;
    background-image: -moz-linear-gradient(top, rgba(252, 193, 94, 0.8), rgba(244, 149, 16, 0.7));
    background-image: -o-linear-gradient(top, rgba(229, 167, 62, 0.8), rgba(244, 149, 16, 0.7));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 193, 94, 0.8)), to(rgba(244, 149, 16, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(252, 193, 94, 0.8), rgba(244, 149, 16, 0.7));
    background-image: linear-gradient(top, rgba(252, 193, 94, 0.8), rgba(244, 149, 16, 0.7));
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.single-product .summary form.cart:after 
{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
/* Quantity incrementer */
.summary .quantity,.cart .quantity 
{
    position: relative;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 0.382em;
    -moz-border-radius: 0.382em;
    border-radius: 0.382em;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    width: 60px;
    float: left;
    margin-right: 15px;
}
.summary .quantity:after,.cart .quantity:after 
{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.summary .quantity input.qty,.cart .quantity input.qty 
{
    width: 70%;
    padding: .618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #f0aa3d;
    text-align: center;
    border: 0;
    margin: 0;
    -webkit-border-top-left-radius: 0.382em;
    -webkit-border-bottom-left-radius: 0.382em;
    -moz-border-radius-topleft: 0.382em;
    -moz-border-radius-bottomleft: 0.382em;
    border-top-left-radius: 0.382em;
    border-bottom-left-radius: 0.382em;
    border-right: 1px solid #ebebeb;
    float: left;
    background-color: #fff;
}
.single-product .summary .single_variation_wrap 
{
    overflow: hidden;
    zoom: 1;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.summary .quantity .plus,.cart .quantity .plus,.summary .quantity .minus,.cart .quantity .minus 
{
    width: 30%;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
    background: -webkit-linear-gradient(#fbfbfb, #f7f7f7);
    background: -moz-linear-gradient(center top, #fafafa 0%, #ededed 100%);
    background: -moz-gradient(center top, #fafafa 0%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fafafa,endColorstr=#ededed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fafafa, endColorstr=#ededed)";
    -webkit-border-top-right-radius: 0.382em;
    -webkit-border-bottom-right-radius: 0.382em;
    -moz-border-radius-topright: 0.382em;
    -moz-border-radius-bottomright: 0.382em;
    border-top-right-radius: 0.382em;
    border-bottom-right-radius: 0.382em;
}
.summary .quantity .plus,.cart .quantity .plus 
{
    color: #8a8a8a;
    cursor: pointer;
    border-bottom: 1px solid #ededed;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.summary .quantity .minus,.cart .quantity .minus 
{
    color: #8a8a8a;
    cursor: pointer;
    top: auto;
    bottom: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#account_username_field 
{
    margin-top: 15px;
}
.col-1 #billing_email_field 
{
    margin-bottom: 10px;
}
.col-1 .create-account 
{
    margin-top: 20px;
}
.col-1 .create-account p 
{
    margin: 0;
}
.col-1 h3, .col-2 h3 
{
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 15px;
}
.col2-set .col-1, .col2-set .col-2 
{
    padding: 20px;
    background-color: #fff;
}
.col2-set .col-2 #shiptobilling 
{
    float: right;
    margin-top: 20px;
}
form.login 
{
    margin-top: 10px;
    margin-bottom: 25px;
}
form.login .form-row input.input-text
{
    margin-top: 10px;
}
.form-row 
{
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    margin-bottom: 0;
}
.form-row label 
{
    display: block;
    font-size: 11px;
}
.form-row label.hidden 
{
    visibility: hidden;
}
.form-row select 
{
    width: 100%;
    cursor: pointer;
    margin: 0 !important;
}
.form-row .required 
{
    color: #667b83;
    font-weight: bold;
}
.form-row .input-checkbox 
{
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
.form-row label.checkbox 
{
    display: inline;
}
#billing_company_field.form-row 
{
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 25px;
}
#coupon_code 
{
    color: #6b6b6b;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    outline: 0;
    background: #f9f9f9 none;
    font-size: 11px;
    margin-left: 5px;
    padding: 9px;
}
.woocommerce-checkout form #customer_details .form-row input.input-text, 
.login,
.woocommerce-checkout form .form-row textarea,.woocommerce-checkout form .form-row select,
.woocommerce-checkout form #payment input.input-text
{
    color: #919191;
    /*
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fffeff;
    width: 100%;
    padding: 10px;
    margin: 0;
    outline: 0;
    background: #f9f9f9 none;
    font-size: 12px;
    line-height: 1.5em;
}
form .form-row textarea 
{
    height: 90px;
    line-height: 1.6em;
    display: block;
}
.form-row-first 
{
    width: 48%;
    overflow: visible;
    float: left;
}
.form-row-last 
{
    width: 48%;
    float: right;
}
.create-account .form-row-last 
{
    float: none;
    width: 47%;
}
.create-account .form-row-first 
{
    float: left;
    padding-right: 5%;
}
#order_review_heading 
{
    font-weight: 300;
    clear:both;
    margin-bottom: 20px;
}
#payment li label img
{
    position: relative;
    top: 6px;
    left: 5px;
}
#payment .place-order
{
    margin: 0;
}
#payment 
{
    background: #fff;
    border: 15px solid white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    margin-bottom: 20px;
    position: relative;   
}
#payment .col-1
{
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
}
#payment ul.payment_methods 
{
    overflow: hidden;
    text-align: left;
    padding: 1em;
    margin: 0 !important;
    list-style: none outside;
    margin-left: auto !important;
    margin-right: auto !important;
    display: table;
}
#payment div.payment_box:after 
{
    content: "";
    display: block;
    border: 8px solid #f1f1f1;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -5px;
    left: 0;
    margin: -1em 0 0 2em;
}
#payment div.payment_box 
{
    position: relative;
    width: 96%;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
    padding: 1em 2% 0;
    margin: 1em 0;
}
#payment ul.payment_methods li input 
{
    margin: 0 1em 0 0 !important;
}
.payment_methods.methods li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.shipping_calculator 
{
    float: left;
}
.cart_totals h2 
{
    font-size: 14px;
}
.ordering 
{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
.cart_totals 
{
    float: right;
    width: 35%;
    margin-bottom: 10px;
}
.cart_totals table
{
    text-align: left;
    width: 100%;
    border-collapse: separate;
    background-color: #fff;
    margin-left: 0;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 25px;
}
.cart_totals table td, .cart_totals table th 
{
    padding: 8px 12px;
    vertical-align: middle;
    border-top: 1px solid #ebebeb;
}
/* carrello riepilogo*/
.product-subtotal
{
    width: 120px;
}
/* Product Rating Stars */
.star-rating 
{
    float: right;
    width: 80px;
    height: 16px;
    background: url('../images/star.png') repeat-x left 0;
}
.star-rating span 
{
    background: url('../images/star.png') repeat-x left -32px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
    float: left;
}
.hreview-aggregate .star-rating 
{
    margin: 10px 0 0 0;
}
p.stars:after 
{
    content: "";
    display: block;
    clear: both;
}
p.stars span 
{
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url('../images/star.png') repeat-x left 0;
}
p.stars span a 
{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
}
p.stars span a:hover, p.stars span a:focus 
{
    background: url('../images/star.png') repeat-x left -16px;
}
p.stars span a.active 
{
    background: url('../images/star.png') repeat-x left -32px;
}
p.stars span a.star-1 
{
    width: 16px;
    z-index: 10;
}
p.stars span a.star-2 
{
    width: 32px;
    z-index: 9;
}
p.stars span a.star-3 
{
    width: 48px;
    z-index: 8;
}
p.stars span a.star-4 
{
    width: 64px;
    z-index: 7;
}
p.stars span a.star-5 
{
    width: 80px;
    z-index: 6;
}
/* Review Form */
#review_form #respond p 
{
    margin: 0 0 10px;
}
#reviews ol, #reviews .add_review 
{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}
#reviews .add_review .button 
{
    float: right;
    margin: 0;
}
#reviews .avatar 
{
    float: left;
}
#reviews div.comment-text:after 
{
    content: "";
    display: block;
    border: 8px solid #f8f8f8;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: -16px;
    margin-right: 0;
    margin-bottom: 0;
    top: 12px;
}
#reviews div.comment-text 
{
    position: relative;
    background: #f8f8f8;
    padding: 1em 2% 0;
    float: right;
    width: 84%;
    margin: 0 0 1.3em;
}
#reviews div.comment-text .meta 
{
    font-size: 11px;
    margin-bottom: 12px;
}
/* Slider Wrappers */
.slider-wrapper, .image-wrapper, .gmap, .youtube-wrapper,.blog .comment-body ,.col2-set .col-1, .col2-set .col-2
{
    border: 15px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}
.gmap 
{
    margin-bottom: 0;
    width: 95.7%;
    background-color: #fff;
}
.home .slider-wrapper 
{
    margin: 0 auto;
    width: 950px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.home .videoWrapper 
{
    border-bottom: 1px solid #dadada;
}
.videoWrapper 
{
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0px;
    height: 0;
    background: #fff;
}
.videoWrapper iframe, .videoWrapper object embed 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.page #basicimage img 
{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-image 
{
    position: relative;
    top: 0;
}
.home.page #basicimage 
{
    border-bottom: 1px solid #dadada;
}
.page #basicimage iframe, .page #basicimage object, .page #basicimage embed 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Blog */
.blog .post 
{
    clear: both;
}
.blog .post_inner 
{
    position: relative;
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 35px;
    margin-right: 80px;
}
.blog #comments .avatar 
{
    margin-right: 15px;
}
.blog #comments 
{
    position: relative;
    padding-bottom: 0 !important;
    margin-right: 80px;
}
h3#comments-title 
{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0;
    margin-left: 0;
    float: right;
    position: absolute;
    top: 15px;
    right: 0;
}
.comment-container 
{
    padding:0;
}
.comment-container .children 
{
    margin-top:0;
    padding-top:0;
}
.comment-author 
{
    clear: both;
}
.comment-author img 
{
    float: left;
    margin-right: 5px;
}
.comment-meta 
{
    color: #e8e8e8;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 5px;
}
#commentform img.avatar 
{
    margin:0;
}
#comments .fn 
{
    margin:0;
    text-transform: capitalize;
    font-weight: normal;
    font-style: normal;
}
#comments .fn cite 
{
    font-style:normal;
}
a.comment-reply-link 
{
    color: #667b83;
    display:block;
}
li.comment ul.children li 
{
    margin-left: 65px;
}
#commentform .form-submit 
{
    margin-bottom: 0;
}
#comments .comment-form-comment 
{
    width: 108%;
}
#comments .comment-form-author 
{
    float: left;
    width: 30%;
    margin-right: 5%;
}
#comments .comment-form-email 
{
    width: 30%;
    float: left;
    margin-right: 5%;
}
#comments .comment-form-url 
{
    width: 30%;
    float: left;
}
#comments .comment-form-comment 
{
    clear: both;
}
#fancybox-content label
{
    font-size: 12px;
}
#fancybox-content input#author, #fancybox-content input#email, #fancybox-content textarea#comment, .login .input-text, #comments input#author,#comments input#email, #comments input#url, #comments textarea#comment
{
    border: 1px solid #e1e1e1;
    margin-top: 5px;
    padding: 9px;
    background-color:#fff;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    color: #9C9B9B;
    width: 90%;
}
.blog .entry-content 
{
    position: relative;
    margin-left: 180px;
}
.single .entry-content 
{
    position: relative;
    margin-left: 0px;
}
.post_inner .button 
{
    margin-top: 0;
}
.blog .post .entry-title 
{
    letter-spacing: -1px;
    margin-bottom:16px;
    font-size: 22px;
    font-weight: 300;
}
.single .blog .post .entry-title 
{
    margin-bottom:24px;
    position: relative;
    margin-right: 80px;
}
.single .blog .post .fl 
{
    margin-bottom:20px;
    margin-left:80px;
    position: relative;
}
.single .blog .post_inner 
{
    border-bottom: 1px none #e1e1e1;
    padding-bottom: 0px;
}
.blog .date 
{
    text-align:center;
    width:55px;
    background:#ffffff;
    -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow:0 1px 0 rgba(0, 0, 0, .05);
    box-shadow:0 1px 0 rgba(0, 0, 0, .05);
    left: 95px;
    z-index: 1;
    top: 15px;
    float: right;
}
.blog .date small 
{
    padding:6px 0 4px;
    display:block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.blog .date .date_day 
{
    padding:5px 0 0;
    margin:0;
    line-height: 1em;
    font-size: 30px;
}
.blog .date span 
{
    font-size:12px;
    padding-bottom:3px;
    display:block;
}
.blog header figure 
{
    margin-bottom:15px;
    margin-left:0px;
    height: auto;
    display: block;
    margin-right: 80px;
}
.blog header figure img 
{
    width: 100%;
    height: auto;
    display: block;
}
.blog .post footer 
{
    padding-right: 25px;
    float: left;
    margin-bottom: 15px;
}
.blog .post footer ul li 
{
    border-bottom: 1px dotted #e1e1e1;
    list-style:none;
    font-size:11px;
    line-height:30px;
    padding-right: 30px;
}
.blog .post footer ul li:last-child 
{
    border-bottom-style: none;
}
.blog .post .entry-title a 
{
    color: #6b6b6b;
}
.social-single 
{
    border-bottom: 1px dotted #e1e1e1;
    border-top: 1px dotted #e1e1e1;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.sharebuttons 
{
    float: right;
}
#twitterbutton, #likebutton, #stumblebutton, #sharebutton, #linkedinshare 
{
    display: block;
    float: left;
}
#twitterbutton 
{
    margin-right: 0;
}
#likebutton 
{
    margin-left: -15px;
}
/* Footer */
#footer 
{
    border-top: 1px solid #dadada;
    margin-bottom: 50px;
    clear: both;
    background-color: #e6e6e6;
    padding-top: 16px;
    padding-bottom: 16px;
}
#footer p 
{
    font: 10px Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 20px;
}
/*TEO MODS*/
#content ul.products li img.gallery
{
    display: table-cell ;
}
.nivoSlider img.firstslide
{
    display: table-cell;
}
/* old rule.inner-container, .page-header, #breadcrumb 
{
 margin-left: 185px;
}
*/
/* new rule */#content
{
    margin-left: 186px;
    max-width: 764px;
}
.widgettitle 
{
    text-transform: uppercase;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}
/* menu principale */
#menu .sf-menu>li:first-child
{
    width:185px;
}
#menu .sf-menu>li:not(:last-child)
{
    text-align:center;
}
/* search bar*/
.sf-menu li.search #searchsubmit:hover
{
    box-shadow:none;
}
*
{
    font-family: 'Maven Pro', sans-serif !important;
}
/* carousels Items*/
.infoFilterContainer .price, .infoFilterContainer h3
{
    width: 100%;
    text-align: center;
}
.infoFilterContainer .price
{
    position: relative;
    top: -17px;
    display:block;
}
/*products grid*/
.inner-container .products .infoFilterContainer:after
{
    border-color: #49595e transparent transparent #49595e;
}
.inner-container .products .infoFilterContainer
{
    text-shadow: rgba(100,100,100,0.7) 1px 1px 12px;
    z-index: 1000;
    top: -17px;
    height:15px;
    line-height: 15px;
    background: #ffffff;
    position: relative;
    border-top: solid 1px rgba(240,240,240,0.9);
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.inner-container .products .infoFilter
{
    top: -17px;
    height:15px;
    line-height: 15px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.inner-container .products .infoFilter
{
    float:right;
    margin-right: 6px;
    background-color:transparent;
}
.inner-container .products .infoFilterContainer .single_star
{
    height: 15px;
    width: 16px;
    background: url('../images/stelle_on.png') no-repeat;
    padding-left: 11px;
    background-position: -60px 0px;
    float:left;
    line-height: 18px;
    position: absolute;
    margin-left:6px;
}
.prod_range
{
    display:block;
    margin-bottom: 1.2em;
    height:1.7em;
}
.prod_range div
{
    display:table;
    margin-left:auto;
    margin-right:auto;
    height:1.5em;
}
.prod_range button
{
    display: table-cell;
    border: none;
    line-height: 1.3em;
    font-size: 1em;
    padding-left:0.5em;
    padding-right: 0.5em;
    transition: bottom linear 0.1s;
    -webkit-transition: bottom linear 0.1s;
    bottom:0;
    color:whitesmoke;
}
.prod_range button:hover
{
    color: #667b83;
}
.prod_range button:not(.prod_page_selected):active
{
    color: rgba(30,30,30,0.5);
}
.prod_range .prod_page_selected:after,.prod_range .prod_page_selected:before
{
    content:"-";
    color:rgba(100,100,100,0.5);
}
.prod_range .prod_page_prev:hover,.prod_range .prod_page_next:hover,.prod_range .prod_page_selected:hover
{
    bottom:0;
}
/*products specs sheet*/
#add_product_count
{
    background:url('../images/dropdown.png') no-repeat center right 2px;
    height: 36px;
    width:60px;
    line-height:40px;
    border-radius: 2px;
    border: solid 1px rgba(100,100,100,0.8);
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
}
#add_product_count select
{
    overflow: hidden;
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    top:-2px;
    line-height: 100%;
    height: 100%;
}
@-moz-document url-prefix() 
{
    #add_product_count select 
    {
    -moz-appearance: menulist-text;
    position: relative;
    top: 6px;
}
}
.variations_form.cart > *
{
    float: right;
}
.variations_form.cart button
{
    height: 40px;
}
.variations_form.cart
{
    position: relative;
    top: 9px;
}
.variations_form.cart span
{
    line-height: 40px;
    ;
    height: 36px;
    font-size:1.5em;
}
/*prod_reviewprod_right_bar*/
#prod_image_wrapper , #prod_right_bar
{
    width:340px;
    height:430px;
}
#prod_image_wrapper 
{
    float:left;
}
#prod_right_bar
{
    float:right;
    display:block;
}
#prod_tab_bar
{
    width :100%;
    margin-top:10px;
    padding-left:20px;
    padding-right:20px;
}
/* prod_specs*/
.t_prod_comment,.t_prod_more,.t_prod_image_wrapper,.t_prod_old_comment
{
    width: 97%;
    display: block;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
}
.t_prod_more
{
    border-bottom: 3px rgba(223, 223, 223,0.2) groove;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.t_prod_comment
{
    margin-bottom:40px;
}
.t_prod_image_wrapper .t_prod_img_block
{
    width: 350px;
    height: 440px;
    margin: 0px;
    padding:0px;
    float:left;
}
.t_prod_image_wrapper article
{
    height: 367px;
    text-align:justify;
    overflow:auto;
    padding-left:5px;
}
.t_prod_image_wrapper form
{
    height: 50px;
    margin-bottom:5px;
}
.t_prod_image_wrapper img,.t_prod_image_wrapper a
{
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 430px;
    width: 350px;
}
.t_prod_image_wrapper article h1
{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 200%;
}
/* cooment */
.t_prod_comment > *,.t_prod_old_comment > *
{
    width:50%;
}
.t_prod_comment>section>form>*
{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 8px;
    display:block;
}
.t_prod_comment>section>form>*:not(div)
{
    box-shadow: rgba(180,180,180,1) 1px 1px 6px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: rgba(134,101,100,0.1);
}
.t_prod_more article
{
    text-align: justify;
}
.t_prod_comment section input
{
    height: 28px;
}
.t_prod_comment section textarea
{
    min-height: 110px;
}
.t_prod_comment section>form>div
{
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-top:5px;
}
.t_prod_comment section input.button
{
    float: right;
    height: inherit;
    margin-right:5px;
}
.t_prod_comment section p.comment-form-rating
{
    margin:0px;
    padding-top: 12px;
}
.t_prod_comment section p.comment-form-rating select
{
    background-color: rgb(245, 245, 245);
    color: rgb(78, 78, 78);
    border: rgb(230, 230, 230) 1px solid;
}
.t_prod_more ul
{
    margin-bottom:10px;
}
/*old comment*/
.single_star.star-comment
{
    height: 20px;
}
.single_star.star-comment span
{
    width: 20px !important;
    position: initial !important;
    top: initial !important;
    left:initial !important ;
}
.t_prod_old_comment article>*
{
    box-shadow: rgba(180,180,180,1) 1px 1px 6px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: rgba(134,101,100,0.1);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    display: block;
}
.t_prod_old_comment article>p
{
    text-align: justify;
}
.t_prod_old_comment article>div
{
    position:relative;
}
.t_prod_old_comment article>div .single_star
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.t_prod_old_comment article>div .single_star span
{
    position: relative;
    top: -2px;
    left: 3px;
}
.t_prod_old_comment article>div h1
{
    margin:0px;
    padding-left:2em;
}
/*old comment*/
.t_prod_old_comment article>*
{
    box-shadow: rgba(180,180,180,1) 1px 1px 6px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: rgba(134,101,100,0.1);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    display: block;
}
.t_prod_old_comment article>p
{
    text-align: justify;
}
.t_prod_old_comment article>div
{
    position:relative;
}
.t_prod_old_comment article>div .single_star
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.t_prod_old_comment article>div .single_star span
{
    position: relative;
    top: -2px;
    left: 3px;
}
.t_prod_old_comment article>div h1
{
    margin:0px;
    padding-left:2em;
}
/**stelline sotto la foto del prodotto singolo*/
#prod_star
{
    position: relative;
    top: -4.5%;
    left: 2%;
}
#prod_star input
{
    background-position-y: -2px;
}
#prod_star input
{
    background-position-y: -1px;
}
/*rating prodotto singolo*/
#prod_star li
{
    float:left;
}
#prod_star li.votes
{
    margin-left: 9px;
    font-size: 12px;
    font-weight: 900;
    position: relative;
    top: -4px;
    -moz-top:0px;
}
/* search bar*/
#search_popup
{
    list-style: none;
    box-shadow: 1px 1px 2px #707070;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(242, 240, 240)), to(rgb(239, 235, 239)));
    display: block;
    width: 99%;
    position: absolute;
    top: 35px;
    z-index: 99;
}
#search_popup li:hover,#search_popup .currentOpt
{
    box-shadow: rgba(20,20,20,.1) 0px 0px 14px inset;
}
#search_popup li
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-transform: uppercase;
}
/*tooltip*/
span.tooltip {
    position: absolute !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 6px !important;
    font-size: 14px !important;
    text-align: center !important;
    color: #b82b2b !important;
    background:  #e3aeae !important;
    border:  4px solid #e3aeae !important;
    border-radius: 5px !important;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px !important;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 0px !important;
}

span.tooltip:after
{
    content: "" !important;
    position: absolute !important;
    width: 10px !important;
    height: 0 !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: transparent #e3aeae transparent transparent !important;
    top: 7px !important;
    left: -32px !important;
}
span.tooltip.bottom:after
{
    width: 2px !important;
    height: 8px !important;
    border-width: 7px !important;  
    border-color: transparent transparent #e3aeae transparent !important;
    top: -26px !important;
    left: 8px !important;
}

/*_____________________________________________________*/

aside#sidebar li.star_row input
{
    -webkit-appearance: none;
}
@media screen and (min-width: 320px) and (max-width: 700px) 
{
}

#loading_img{
    display: none;
    border: 0;
}

.single_star
{
    border:none;
    background-color:transparent;
    background-clip:padding-box; 
    background:url('../images/stelle_on.png') no-repeat ;
    background-position: -60px 2px;
    overflow: hidden;
    padding-left: 15px;

}

/* lato admin*/
.systemMessages{
    display:block;
    margin-left:auto;
    margin-right:auto;

    margin-top:3em;
    margin-bottom:3em;

    text-align: center;
    font-size: 2.5em;
    text-transform: capitalize; 
}
.sub-menu .sub-menu *
{
    line-height: 30px;   
}
.admin-form select
{
    width: 100%;
}
#timer
{
    text-align: center;
    position: relative;
    top: -7em;
}
/*lato myaccount*/
form[name=adm_remove_user] h2
{
    width: 100%;
    text-align:    center;
}
.deleteButtonRow
{
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    background-color: rgb(255, 126, 126);
    cursor:pointer;
}
.shop_table .deleteButtonRow *
{
    font-size: inherit;
    line-height: inherit;
    height: inherit;
    border: none;
    cursor:pointer;
}
.deleteOrderButton {

    display: block;
    text-align: center;
    padding: 0px;
    color: rgb(245, 229, 229);
    font-size: inherit;
    line-height: inherit;
    height: inherit;
}
.deleteButtonRow:hover {
    background-color: rgb(226, 109, 109);
}
.sysMessage
{
    text-align: center;
}