<!-- form per la registrazione degli utenti -->
<div class="inner-container">
    <div class="general_form_wrapper">
        <form id="register-form" class="general_form" name="registration_form" /> <!--action="index.php?id=5" method="POST">-->
        <h1 class="page_title">Registration</h1>
        <[error_message]>
        <fieldset>
            <legend align="top">Login Data</legend>
            <label><span>Username</span><abbr class="required" title="required">*</abbr></label>
            <input type="text" name="username" value="<[username]>" />
            <label><span>Password</span><abbr class="required" title="required">*</abbr></label>
            <input type="password" name="password" autocomplete="off" />
            <label><span>Confirm Password</span><abbr class="required" title="required">*</abbr></label>
            <input type="password" name="confirm_password" autocomplete="off" />
        </fieldset>
        <fieldset>
            <legend align ="top">Personal Data</legend>
            <label><span>Name</span><abbr class="required" title="required">*</abbr></label>
            <input type="text" name="name" value ="<[name]>"/>
            <label><span>Surname</span><abbr class="required" title="required">*</abbr></label>
            <input type ="text" name="surname" value="<[surname]>" />
            <label><span>Date of Birth</span><abbr class="required" title="required">*</abbr></label>
            <input type="text" name ="birthday" placeholder ="dd-mm-yyyy" max="<[ageLimit]>" value="<[birthday]>"/>
        </fieldset>
        <fieldset>
            <legend align="top">Contacts</legend> 
            <label><span>Email</span><abbr class="required" title="required">*</abbr></label><input type="text" name="email"  value="<[email]>"/><!-- -->
            <label><span>Phone</span><abbr class="required" title="required">*</abbr><h5>(no symbols or letter between numbers)</h5></label><input type="text" name="phone"  value="<[phone]>"/>
        </fieldset>
        <fieldset class='naked'>       
            <span class="button submit" id="registration_button" type="button" name="submit" value="Register">Register</span>
        </fieldset>
        </form>
    </div>
</div>  