<!-- form per la registrazione degli utenti -->
<div class="general_form_wrapper">
    <form class="general_form" name="registration_form" action="index.php?id=5" method="POST">
        <h1 class="page_title">Registration</h1>
        <[error_message]>
        <fieldset>
            <legend align="top">Login Data</legend>
            <label>Username</label><input type="text" name="username" value="<[username]>" required="required"  />
            <label>Password</label><input type="password" name="password" autocomplete="off" required="required" />
            <label>Confirm Password </label><input type="password" name="confirm_password" autocomplete="off" required="required" />
        </fieldset>
        <fieldset>
            <legend align ="top">Personal Data</legend>
            <label>Name</label>
            <input type="text" name="name" value ="<[name]>" required="required" />
            <label>Surname</label>
            <input type ="text" name="surname" value="<[surname]>" required="required" />
            <label>Date of Birth</label>
            <input type="date" name ="birthday" placeholder ="dd-mm-yyyy" max="<[ageLimit]>" value="<[birthday]>" required="required" />
        </fieldset>
        <fieldset>
            <legend align="top">Contacts</legend>
            <!--<label>Country</label><input type="text" name="country" />
            <label>Mail Address</label><input type="text" name="address"  />
            <label>City</label><input type="text" name ="city"  />
            <label>State</label><input type="text" name ="state"  />
            <label>ZIP</label><input type="text" name="zip"  />-->   
            <label>Email</label><input type="text" name="email"  value="<[email]>" required="required" pattern="([^@]+)\@([0-9A-Za-z_]+)\.([0-9a-z]{2,4})"/><!---->
            <label>Phone<h6>(no symbols or letter between numbers)</h6></label><input type="text" name="phone"  value="<[phone]>" required="required" pattern="[0-9]{10,11}" />
        </fieldset>
        <fieldset class='naked'>       
            <input class="button submit" id="registration_button" type="submit" name="submit" value="Register">
        </fieldset>
    </form>
</div>