<!-- Page Title -->
<header class="page-header">
    <h1 class="page-title">Cart</h1>
</header>

<div class="inner-container">
    <form action="index.php" method="GET">
        <input type="hidden" name="id" value="<[id_page]>"
    <!-- Shopping Cart -->											
    <table class="shop_table cart" cellspacing="0">
        <thead>
            <tr>
                <th class="product-remove">&nbsp;</th>
                <th class="product-thumbnail">&nbsp;</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-subtotal">Total</th>
            </tr>
        </thead>						
       
            <[tabella::visualizzaTabella library="carrello"]>
    
    </table>
 </form>


    <!-- Cart Totals -->										
    <div class="cart-collaterals">
        <div class="cart_totals ">
            <h2>Cart Totals</h2>
            <table cellspacing="0" cellpadding="0">
                <tbody>	
                    <[subtotali::visualizzaSubtotali library="carrello" minGratis="30.00"]>			
                </tbody>
            </table>
        </div>
    </div>					

</div>