<!-- Shopping Cart -->
<nav id="shopping-bag">
   <ul>
      <li><a href="index.php?id=<[id_cart]>" title="View Cart"><span class="amount">&#8364;<[price_amount]></span></a></li>
      <li class="cart-info"><a href="index.php?id=13" title="View Cart">You have <[item_num]> item<[item_plural]></a></li>
   </ul>
</nav>