<section id="carousel_box" >

    <header class="page-header">
        <h1 class="page-title">On Sale Today</h1>
    </header>
    <[product::visualizzaCarosello library="Utility" ]>
    <!--<ul id="daCarousel" class="elastislide-list">
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 221</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 222</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 223</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 224</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 225</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 226</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 227</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 228</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 229</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 230</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
        <li>
            <a href="index.php?id=6&amp;id_prod=5">
                <span class="onsale">10% Off</span> 
                <img class="gallery" src="skin/images/placeholder/pic5_220x164.png" alt="" title="RS 220">   
                <div class="infoFilterContainer">
                    <div class="single_star">3</div>
                    <h3>RS 231</h3>
                    <span class="price">€ 449.00</span>
                </div>
            </a>
        </li>
    </ul>-->
</section>
