<header class="page-header">
    <h1 class="page-title">Checkout</h1>
</header>
<div class="inner-container woocommerce-checkout woocommerce-page   ">
    <!-- Billing Address Form -->

    <!-- Billing Address Form -->
    <form id="checkout-form" name="checkout" class="checkout"  method="POST" action="checkout.php">

        <div class="col2-set" id="customer_details">
            <div class="col-1">
                <h3>Billing Address</h3>

                <p class="form-row form-row-first" id="billing_first_name_field">
                    <label for="billing_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_first_name" id="billing_first_name" value="" />
                </p>

                <p class="form-row form-row-last" id="billing_last_name_field">
                    <label for="billing_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_last_name" id="billing_last_name" value="" />
                </p><div class="clear"></div>

                <p class="form-row" id="billing_address_1_field">
                    <label for="billing_address_1" class="">Address <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_address_1" id="billing_address_1" value="" />
                </p>

                <p class="form-row form-row-first" id="billing_city_field">
                    <label for="billing_city" class="">Town/City <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_city" id="billing_city" value="" />
                </p>

                <p class="form-row form-row-last update_totals_on_change" id="billing_postcode_field">
                    <label for="billing_postcode" class="">Postcode/Zip <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_postcode" id="billing_postcode"  value="" />
                </p><div class="clear"></div>

                <p class="form-row form-row-first update_totals_on_change country_select" id="billing_country_field">
                    <label for="billing_country" class="">Country <abbr class="required" title="required">*</abbr></label>
                    <select name="billing_country" id="billing_country" class="country_to_state form-row-first update_totals_on_change country_select">
                        <option value="">Select a country&hellip;</option><option value="AX" >&#197;land Islands</option><option value="AF" >Afghanistan</option><option value="AL" >Albania</option><option value="DZ" >Algeria</option><option value="AS" >American Samoa</option><option value="AD" >Andorra</option><option value="AO" >Angola</option><option value="AI" >Anguilla</option><option value="AQ" >Antarctica</option><option value="AG" >Antigua and Barbuda</option><option value="AR" >Argentina</option><option value="AM" >Armenia</option><option value="AW" >Aruba</option><option value="AU" >Australia</option><option value="AT" >Austria</option><option value="AZ" >Azerbaijan</option><option value="BS" >Bahamas</option><option value="BH" >Bahrain</option><option value="BD" >Bangladesh</option><option value="BB" >Barbados</option><option value="BY" >Belarus</option><option value="BE" >Belgium</option><option value="BZ" >Belize</option><option value="BJ" >Benin</option><option value="BM" >Bermuda</option><option value="BT" >Bhutan</option><option value="BO" >Bolivia</option><option value="BA" >Bosnia and Herzegovina</option><option value="BW" >Botswana</option><option value="BR" >Brazil</option><option value="IO" >British Indian Ocean Territory</option><option value="VG" >British Virgin Islands</option><option value="BN" >Brunei</option><option value="BG" >Bulgaria</option><option value="BF" >Burkina Faso</option><option value="BI" >Burundi</option><option value="KH" >Cambodia</option><option value="CM" >Cameroon</option><option value="CA" >Canada</option><option value="CV" >Cape Verde</option><option value="KY" >Cayman Islands</option><option value="CF" >Central African Republic</option><option value="TD" >Chad</option><option value="CL" >Chile</option><option value="CN" >China</option><option value="CX" >Christmas Island</option><option value="CC" >Cocos (Keeling) Islands</option><option value="CO" >Colombia</option><option value="KM" >Comoros</option><option value="CG" >Congo (Brazzaville)</option><option value="CD" >Congo (Kinshasa)</option><option value="CK" >Cook Islands</option><option value="CR" >Costa Rica</option><option value="HR" >Croatia</option><option value="CU" >Cuba</option><option value="CY" >Cyprus</option><option value="CZ" >Czech Republic</option><option value="DK" >Denmark</option><option value="DJ" >Djibouti</option><option value="DM" >Dominica</option><option value="DO" >Dominican Republic</option><option value="EC" >Ecuador</option><option value="EG" >Egypt</option><option value="SV" >El Salvador</option><option value="GQ" >Equatorial Guinea</option><option value="ER" >Eritrea</option><option value="EE" >Estonia</option><option value="ET" >Ethiopia</option><option value="FK" >Falkland Islands</option><option value="FO" >Faroe Islands</option><option value="FJ" >Fiji</option><option value="FI" >Finland</option><option value="FR" >France</option><option value="GF" >French Guiana</option><option value="PF" >French Polynesia</option><option value="TF" >French Southern Territories</option><option value="GA" >Gabon</option><option value="GM" >Gambia</option><option value="GE" >Georgia</option><option value="DE" >Germany</option><option value="GH" >Ghana</option><option value="GI" >Gibraltar</option><option value="GR" >Greece</option><option value="GL" >Greenland</option><option value="GD" >Grenada</option><option value="GP" >Guadeloupe</option><option value="GU" >Guam</option><option value="GT" >Guatemala</option><option value="GG" >Guernsey</option><option value="GN" >Guinea</option><option value="GW" >Guinea-Bissau</option><option value="GY" >Guyana</option><option value="HT" >Haiti</option><option value="HN" >Honduras</option><option value="HK" >Hong Kong</option><option value="HU" >Hungary</option><option value="IS" >Iceland</option><option value="IN" >India</option><option value="ID" >Indonesia</option><option value="IR" >Iran</option><option value="IQ" >Iraq</option><option value="IM" >Isle of Man</option><option value="IL" >Israel</option><option value="IT" >Italy</option><option value="CI" >Ivory Coast</option><option value="JM" >Jamaica</option><option value="JP" >Japan</option><option value="JE" >Jersey</option><option value="JO" >Jordan</option><option value="KZ" >Kazakhstan</option><option value="KE" >Kenya</option><option value="KI" >Kiribati</option><option value="KW" >Kuwait</option><option value="KG" >Kyrgyzstan</option><option value="LA" >Laos</option><option value="LV" >Latvia</option><option value="LB" >Lebanon</option><option value="LS" >Lesotho</option><option value="LR" >Liberia</option><option value="LY" >Libya</option><option value="LI" >Liechtenstein</option><option value="LT" >Lithuania</option><option value="LU" >Luxembourg</option><option value="MO" >Macao S.A.R., China</option><option value="MK" >Macedonia</option><option value="MG" >Madagascar</option><option value="MW" >Malawi</option><option value="MY" >Malaysia</option><option value="MV" >Maldives</option><option value="ML" >Mali</option><option value="MT" >Malta</option><option value="MH" >Marshall Islands</option><option value="MQ" >Martinique</option><option value="MR" >Mauritania</option><option value="MU" >Mauritius</option><option value="YT" >Mayotte</option><option value="MX" >Mexico</option><option value="FM" >Micronesia</option><option value="MD" >Moldova</option><option value="MC" >Monaco</option><option value="MN" >Mongolia</option><option value="ME" >Montenegro</option><option value="MS" >Montserrat</option><option value="MA" >Morocco</option><option value="MZ" >Mozambique</option><option value="MM" >Myanmar</option><option value="NA" >Namibia</option><option value="NR" >Nauru</option><option value="NP" >Nepal</option><option value="NL" >Netherlands</option><option value="AN" >Netherlands Antilles</option><option value="NC" >New Caledonia</option><option value="NZ">New Zealand</option><option value="NI" >Nicaragua</option><option value="NE" >Niger</option><option value="NG" >Nigeria</option><option value="NU" >Niue</option><option value="NF" >Norfolk Island</option><option value="KP" >North Korea</option><option value="MP" >Northern Mariana Islands</option><option value="NO" >Norway</option><option value="OM" >Oman</option><option value="PK" >Pakistan</option><option value="PW" >Palau</option><option value="PS" >Palestinian Territory</option><option value="PA" >Panama</option><option value="PG" >Papua New Guinea</option><option value="PY" >Paraguay</option><option value="PE" >Peru</option><option value="PH" >Philippines</option><option value="PN" >Pitcairn</option><option value="PL" >Poland</option><option value="PT" >Portugal</option><option value="PR" >Puerto Rico</option><option value="QA" >Qatar</option><option value="IE" >Republic of Ireland</option><option value="RE" >Reunion</option><option value="RO" >Romania</option><option value="RU" >Russia</option><option value="RW" >Rwanda</option><option value="ST" >S&atilde;o Tom&eacute; and Pr&iacute;ncipe</option><option value="BL" >Saint Barth&eacute;lemy</option><option value="SH" >Saint Helena</option><option value="KN" >Saint Kitts and Nevis</option><option value="LC" >Saint Lucia</option><option value="MF" >Saint Martin (French part)</option><option value="PM" >Saint Pierre and Miquelon</option><option value="VC" >Saint Vincent and the Grenadines</option><option value="WS" >Samoa</option><option value="SM" >San Marino</option><option value="SA" >Saudi Arabia</option><option value="SN" >Senegal</option><option value="RS" >Serbia</option><option value="SC" >Seychelles</option><option value="SL" >Sierra Leone</option><option value="SG" >Singapore</option><option value="SK" >Slovakia</option><option value="SI" >Slovenia</option><option value="SB" >Solomon Islands</option><option value="SO" >Somalia</option><option value="ZA" >South Africa</option><option value="GS" >South Georgia/Sandwich Islands</option><option value="KR" >South Korea</option><option value="ES" >Spain</option><option value="LK" >Sri Lanka</option><option value="SD" >Sudan</option><option value="SR" >Suriname</option><option value="SJ" >Svalbard and Jan Mayen</option><option value="SZ" >Swaziland</option><option value="SE" >Sweden</option><option value="CH" >Switzerland</option><option value="SY" >Syria</option><option value="TW" >Taiwan</option><option value="TJ" >Tajikistan</option><option value="TZ" >Tanzania</option><option value="TH" >Thailand</option><option value="TL" >Timor-Leste</option><option value="TG" >Togo</option><option value="TK" >Tokelau</option><option value="TO" >Tonga</option><option value="TT" >Trinidad and Tobago</option><option value="TN" >Tunisia</option><option value="TR" >Turkey</option><option value="TM" >Turkmenistan</option><option value="TC" >Turks and Caicos Islands</option><option value="TV" >Tuvalu</option><option value="VI" >U.S. Virgin Islands</option><option value="USAF" >US Armed Forces</option><option value="UM" >US Minor Outlying Islands</option><option value="UG" >Uganda</option><option value="UA" >Ukraine</option><option value="AE" >United Arab Emirates</option><option value="GB" >United Kingdom</option><option value="US" >United States</option><option value="UY" >Uruguay</option><option value="UZ" >Uzbekistan</option><option value="VU" >Vanuatu</option><option value="VA" >Vatican</option><option value="VE" >Venezuela</option><option value="VN" >Vietnam</option><option value="WF" >Wallis and Futuna</option><option value="EH" >Western Sahara</option><option value="YE" >Yemen</option><option value="ZM" >Zambia</option><option value="ZW" >Zimbabwe</option></select><noscript><input type="submit" name="woocommerce_checkout_update_totals" value="Update country" /></noscript></p>
                        <div class="clear"></div>
                <p class="form-row form-row-first" id="billing_email_field">
                    <label for="billing_email" class="">Email Address <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_email" id="billing_email" value="" />
                </p>

                <p class="form-row form-row-last" id="billing_phone_field">
                    <label for="billing_phone" class="">Phone <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text" name="billing_phone" id="billing_phone" value="" />
                </p><div class="clear"></div>

            </div>

            <div class="col-2">

                <p class="form-row" id="shiptobilling">
                    <input id="shiptobilling-checkbox" class="input-checkbox"  checked='checked' type="checkbox" name="shiptobilling" value="1" />
                    <label for="shiptobilling-checkbox" class="checkbox">Ship to billing address?</label>
                </p>

                <h3>Shipping Address</h3>

                <!-- Shipping Address Form -->
                <div class="shipping_address">

                    <p class="form-row form-row-first" id="shipping_first_name_field">
                        <label for="shipping_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="shipping_first_name" id="shipping_first_name" value="" />
                    </p>

                    <p class="form-row form-row-last" id="shipping_last_name_field">
                        <label for="shipping_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="shipping_last_name" id="shipping_last_name" value="" />
                    </p><div class="clear"></div>

                    <p class="form-row" id="shipping_address_1_field">
                        <label for="shipping_address_1" class="">Address <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="shipping_address_1" id="shipping_address_1" value="" />
                    </p>


                    <p class="form-row form-row-first" id="shipping_city_field">
                        <label for="shipping_city" class="">Town/City <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="shipping_city" id="shipping_city" value="" />
                    </p>

                    <p class="form-row form-row-last update_totals_on_change" id="shipping_postcode_field">
                        <label for="shipping_postcode" class="">Postcode/Zip <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="shipping_postcode" id="shipping_postcode" value="" />
                    </p><div class="clear"></div>

                    <p class="form-row form-row-first update_totals_on_change country_select" id="shipping_country_field">
                        <label for="shipping_country" class="">Country <abbr class="required" title="required">*</abbr></label>
                        <select name="shipping_country" id="shipping_country" class="country_to_state form-row-first update_totals_on_change country_select">
                            <option value="">Select a country&hellip;</option><option value="AX" >&#197;land Islands</option><option value="AF" >Afghanistan</option><option value="AL" >Albania</option><option value="DZ" >Algeria</option><option value="AS" >American Samoa</option><option value="AD" >Andorra</option><option value="AO" >Angola</option><option value="AI" >Anguilla</option><option value="AQ" >Antarctica</option><option value="AG" >Antigua and Barbuda</option><option value="AR" >Argentina</option><option value="AM" >Armenia</option><option value="AW" >Aruba</option><option value="AU" >Australia</option><option value="AT" >Austria</option><option value="AZ" >Azerbaijan</option><option value="BS" >Bahamas</option><option value="BH" >Bahrain</option><option value="BD" >Bangladesh</option><option value="BB" >Barbados</option><option value="BY" >Belarus</option><option value="BE" >Belgium</option><option value="BZ" >Belize</option><option value="BJ" >Benin</option><option value="BM" >Bermuda</option><option value="BT" >Bhutan</option><option value="BO" >Bolivia</option><option value="BA" >Bosnia and Herzegovina</option><option value="BW" >Botswana</option><option value="BR" >Brazil</option><option value="IO" >British Indian Ocean Territory</option><option value="VG" >British Virgin Islands</option><option value="BN" >Brunei</option><option value="BG" >Bulgaria</option><option value="BF" >Burkina Faso</option><option value="BI" >Burundi</option><option value="KH" >Cambodia</option><option value="CM" >Cameroon</option><option value="CA" >Canada</option><option value="CV" >Cape Verde</option><option value="KY" >Cayman Islands</option><option value="CF" >Central African Republic</option><option value="TD" >Chad</option><option value="CL" >Chile</option><option value="CN" >China</option><option value="CX" >Christmas Island</option><option value="CC" >Cocos (Keeling) Islands</option><option value="CO" >Colombia</option><option value="KM" >Comoros</option><option value="CG" >Congo (Brazzaville)</option><option value="CD" >Congo (Kinshasa)</option><option value="CK" >Cook Islands</option><option value="CR" >Costa Rica</option><option value="HR" >Croatia</option><option value="CU" >Cuba</option><option value="CY" >Cyprus</option><option value="CZ" >Czech Republic</option><option value="DK" >Denmark</option><option value="DJ" >Djibouti</option><option value="DM" >Dominica</option><option value="DO" >Dominican Republic</option><option value="EC" >Ecuador</option><option value="EG" >Egypt</option><option value="SV" >El Salvador</option><option value="GQ" >Equatorial Guinea</option><option value="ER" >Eritrea</option><option value="EE" >Estonia</option><option value="ET" >Ethiopia</option><option value="FK" >Falkland Islands</option><option value="FO" >Faroe Islands</option><option value="FJ" >Fiji</option><option value="FI" >Finland</option><option value="FR" >France</option><option value="GF" >French Guiana</option><option value="PF" >French Polynesia</option><option value="TF" >French Southern Territories</option><option value="GA" >Gabon</option><option value="GM" >Gambia</option><option value="GE" >Georgia</option><option value="DE" >Germany</option><option value="GH" >Ghana</option><option value="GI" >Gibraltar</option><option value="GR" >Greece</option><option value="GL" >Greenland</option><option value="GD" >Grenada</option><option value="GP" >Guadeloupe</option><option value="GU" >Guam</option><option value="GT" >Guatemala</option><option value="GG" >Guernsey</option><option value="GN" >Guinea</option><option value="GW" >Guinea-Bissau</option><option value="GY" >Guyana</option><option value="HT" >Haiti</option><option value="HN" >Honduras</option><option value="HK" >Hong Kong</option><option value="HU" >Hungary</option><option value="IS" >Iceland</option><option value="IN" >India</option><option value="ID" >Indonesia</option><option value="IR" >Iran</option><option value="IQ" >Iraq</option><option value="IM" >Isle of Man</option><option value="IL" >Israel</option><option value="IT" >Italy</option><option value="CI" >Ivory Coast</option><option value="JM" >Jamaica</option><option value="JP" >Japan</option><option value="JE" >Jersey</option><option value="JO" >Jordan</option><option value="KZ" >Kazakhstan</option><option value="KE" >Kenya</option><option value="KI" >Kiribati</option><option value="KW" >Kuwait</option><option value="KG" >Kyrgyzstan</option><option value="LA" >Laos</option><option value="LV" >Latvia</option><option value="LB" >Lebanon</option><option value="LS" >Lesotho</option><option value="LR" >Liberia</option><option value="LY" >Libya</option><option value="LI" >Liechtenstein</option><option value="LT" >Lithuania</option><option value="LU" >Luxembourg</option><option value="MO" >Macao S.A.R., China</option><option value="MK" >Macedonia</option><option value="MG" >Madagascar</option><option value="MW" >Malawi</option><option value="MY" >Malaysia</option><option value="MV" >Maldives</option><option value="ML" >Mali</option><option value="MT" >Malta</option><option value="MH" >Marshall Islands</option><option value="MQ" >Martinique</option><option value="MR" >Mauritania</option><option value="MU" >Mauritius</option><option value="YT" >Mayotte</option><option value="MX" >Mexico</option><option value="FM" >Micronesia</option><option value="MD" >Moldova</option><option value="MC" >Monaco</option><option value="MN" >Mongolia</option><option value="ME" >Montenegro</option><option value="MS" >Montserrat</option><option value="MA" >Morocco</option><option value="MZ" >Mozambique</option><option value="MM" >Myanmar</option><option value="NA" >Namibia</option><option value="NR" >Nauru</option><option value="NP" >Nepal</option><option value="NL" >Netherlands</option><option value="AN" >Netherlands Antilles</option><option value="NC" >New Caledonia</option><option value="NZ" >New Zealand</option><option value="NI" >Nicaragua</option><option value="NE" >Niger</option><option value="NG" >Nigeria</option><option value="NU" >Niue</option><option value="NF" >Norfolk Island</option><option value="KP" >North Korea</option><option value="MP" >Northern Mariana Islands</option><option value="NO" >Norway</option><option value="OM" >Oman</option><option value="PK" >Pakistan</option><option value="PW" >Palau</option><option value="PS" >Palestinian Territory</option><option value="PA" >Panama</option><option value="PG" >Papua New Guinea</option><option value="PY" >Paraguay</option><option value="PE" >Peru</option><option value="PH" >Philippines</option><option value="PN" >Pitcairn</option><option value="PL" >Poland</option><option value="PT" >Portugal</option><option value="PR" >Puerto Rico</option><option value="QA" >Qatar</option><option value="IE" >Republic of Ireland</option><option value="RE" >Reunion</option><option value="RO" >Romania</option><option value="RU" >Russia</option><option value="RW" >Rwanda</option><option value="ST" >S&atilde;o Tom&eacute; and Pr&iacute;ncipe</option><option value="BL" >Saint Barth&eacute;lemy</option><option value="SH" >Saint Helena</option><option value="KN" >Saint Kitts and Nevis</option><option value="LC" >Saint Lucia</option><option value="MF" >Saint Martin (French part)</option><option value="PM" >Saint Pierre and Miquelon</option><option value="VC" >Saint Vincent and the Grenadines</option><option value="WS" >Samoa</option><option value="SM" >San Marino</option><option value="SA" >Saudi Arabia</option><option value="SN" >Senegal</option><option value="RS" >Serbia</option><option value="SC" >Seychelles</option><option value="SL" >Sierra Leone</option><option value="SG" >Singapore</option><option value="SK" >Slovakia</option><option value="SI" >Slovenia</option><option value="SB" >Solomon Islands</option><option value="SO" >Somalia</option><option value="ZA" >South Africa</option><option value="GS" >South Georgia/Sandwich Islands</option><option value="KR" >South Korea</option><option value="ES" >Spain</option><option value="LK" >Sri Lanka</option><option value="SD" >Sudan</option><option value="SR" >Suriname</option><option value="SJ" >Svalbard and Jan Mayen</option><option value="SZ" >Swaziland</option><option value="SE" >Sweden</option><option value="CH" >Switzerland</option><option value="SY" >Syria</option><option value="TW" >Taiwan</option><option value="TJ" >Tajikistan</option><option value="TZ" >Tanzania</option><option value="TH" >Thailand</option><option value="TL" >Timor-Leste</option><option value="TG" >Togo</option><option value="TK" >Tokelau</option><option value="TO" >Tonga</option><option value="TT" >Trinidad and Tobago</option><option value="TN" >Tunisia</option><option value="TR" >Turkey</option><option value="TM" >Turkmenistan</option><option value="TC" >Turks and Caicos Islands</option><option value="TV" >Tuvalu</option><option value="VI" >U.S. Virgin Islands</option><option value="USAF" >US Armed Forces</option><option value="UM" >US Minor Outlying Islands</option><option value="UG" >Uganda</option><option value="UA" >Ukraine</option><option value="AE" >United Arab Emirates</option><option value="GB" >United Kingdom</option><option value="US" >United States</option><option value="UY" >Uruguay</option><option value="UZ" >Uzbekistan</option><option value="VU" >Vanuatu</option><option value="VA" >Vatican</option><option value="VE" >Venezuela</option><option value="VN" >Vietnam</option><option value="WF" >Wallis and Futuna</option><option value="EH" >Western Sahara</option><option value="YE" >Yemen</option><option value="ZM" >Zambia</option><option value="ZW" >Zimbabwe</option>
                        </select><noscript><input type="submit" name="woocommerce_checkout_update_totals" value="Update country" /></noscript>
                    </p><div class="clear"></div>

                </div>

                <p class="form-row notes" id="order_comments_field">
                    <label for="order_comments" class="">Order Notes</label>
                    <textarea name="order_comments" class="input-text" id="order_comments" cols="5" rows="2"></textarea>
                </p>

            </div>

        </div>
        
        <!-- Payment Methods -->

            <div id="payment" class="col2-set" id="customer_details">
                <ul class="payment_methods methods">
                    <li>
                        <input type="radio" id="payment_method_bacs" class="input-radio" name="payment_method" value="bacs" />
                        <label for="payment_method_bacs">Credit Card </label>
                    </li>
                    <li>
                        <input type="radio" id="payment_method_paypal" class="input-radio" name="payment_method" value="paypal" checked="checked" />
                        <label for="payment_method_paypal">PayPal <img src="skin/images/paypal.png" alt="PayPal" /></label>
                    </li>
                </ul>
                
                <div class="col-1" id="payment_method_form">
                    <h3>Credit Card Owner Data</h3>

                    <p class="form-row form-row-first" id="cred_card_first_name_field">
                        <label for="cred_card_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="cred_card_first_name" id="cred_card_first_name"  value=""/>
                    </p>

                    <p class="form-row form-row-last" id="cred_card_last_name_field">
                        <label for="cred_card_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="cred_card_last_name" id="cred_card_last_name" value="" />
                    </p>
                    
                    <p class="form-row form-row-first" id="cred_card_num">
                        <label for="cred_card_num" class="">Credit Card # <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="cred_card_num" id="cred_card_num" value="" />
                    </p>
                    
                    <p class="form-row form-row-last" id="cred_card_cvv">
                        <label for="cred_card_cvv" class="">CVV <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="input-text" name="cred_card_cvv" id="cred_card_cvv" value="" />
                    </p><div class="clear"></div>

                </div>
            </div>

        <h3 id="order_review_heading">Your order</h3>	

        <div id="order_review">

            <!-- Order Summary -->
            <table class="shop_table">

                <thead>
                    <tr>
                        <th class="product-name">Product</th>
                        <th class="product-quantity">Qty</th>
                        <th class="product-total">Totals</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr class="cart-subtotal">
                        <th colspan="2"><strong>Cart Subtotal</strong></th>
                        <td><span class="amount">&euro; <[netto]></span></td>
                    </tr>

                    <tr class="shipping">
                        <th colspan="2">Shipping</th>
                        <td>ND</td>
                    </tr>

                    <tr class="total">
                        <th colspan="2"><strong>Order Total</strong></th>
                        <td><strong><span class="amount">&euro; <[total]></span></strong></td>
                    </tr>		
                </tfoot>

                <tbody>			
                    <[dettaglio::tabellaCheckout library="Utility"]>		
                </tbody>

            </table>
            
            <div class="form-row place-order">
                <input type="hidden" name="total" value="<[t]>"/>
                <input type="hidden" name="shipping_cost" value="<[s]>"/>
                <input type="submit" class="button alt" name="place_order" id="place_order" value="Place order" />
            </div>

            <div class="clear"></div>

        </div>

</div>

</form>					
</div>
<!--<div id="loading_img">
    <img src="skin/images/loading.gif"/>
</div>
-->