<header class="page-header">
    <h1 class="page-title">Delete Account</h1>
</header>
<div class='inner-container'>
    <div class="general_form_wrapper">
        <form class="general_form" name="adm_remove_user" action="deleteAccount.php" method="POST">
            <input type="hidden" name="id" value="<[id_page]>"/>

            <fieldset>
                <h2>We are sorry you want to leave us</h2>
                <h1>Are you sure ??</h2>
            </fieldset>
            <input class="button submit" id="registration_button" type="submit" name="deleteAccount" value="DELETE ACCOUNT" />
        </form>
    </div>
</div>
