<div class="general_form_wrapper">
    <form class="general_form admin-form" name="registration_form" action="index.php" method="get">
        <h1 class="page_title">ADD CATEGORY</h1>
        <fieldset>
            <input type="hidden" name="id" value="<[id_page]>"/>
            <legend align="top">Data</legend>
            <label>Name</label><input type="text" name="name"/>
            <label>Subcategory of</label><select name="sub_cat">
                <option value="0" selected="selected">None</option>
                <[cat_list::visualizzaCat library="Utility"]>
            </select>
            
        </fieldset>
        <input class="button submit" id="registration_button" type="submit" name="add" value="ADD">
    </form>
</div>
<div class="general_form_wrapper">
    <form class ="general_form admin-form" name="delete_category_form" action="index.php" method="get">
        <h1 class="page_title">DELETE CATEGORY</h1>
        <fieldset>
            <input type="hidden" name="id" value="<[id_page1]>"/>
            <legend align="top">Select a Category</legend>
            <select name="cat">
                <[cat_list2::visualizzaCat library="Utility"]>
            </select>
        </fieldset>
        <input class="button submit" id="registration_button" type="submit" name="del" value="DELETE">
    </form>
</div>