<!-- form la login da inserire nella section.content -->
<div class="general_form_wrapper">
    <form class="general_form" name="login_form" action="login.php" method="POST">
        <fieldset class='page_title_wrapper'>   
            <h1 class="page_title">Login</h1>
            <a id='register_button' href="index.php?id=5"><h6>Register Now!</h6></a>
        </fieldset>
        <fieldset>
            <label>Username</label><input type="text" name="username" autocomplete="off" autofocus="autofocus" />
            <label>Password</label><input type="password" name="password" autocomplete="off" />
        </fieldset>
        <fieldset class='naked'>
            <[error_message]>
            <input class="button submit" id="registration_button" type="submit" name="submit" value="Login">
        </fieldset>
    </form>
</div>