<div class="general_form_wrapper">
    <form class="general_form admin-form" name="registration_form" action="index.php" method="get">
        <h1 class="page_title">ADD A SLIDE</h1>
        <fieldset>
            <input type="hidden" name="id" value="<[id_page]>"/>
            <legend align="top">Data</legend>
            <label>Nome</label><input type="text" name="name"/>
            <label>Page Category</label><select name="cat">
                <[cat_list::visualizzaCat library="Utility"]>
            </select>
            <label>Position</label><input type="text" name="position" value="0"/>
            <label>Alternative Text</label><input type="text" name="alt"/>
        </fieldset>
        <input class="button submit" id="registration_button" type="submit" name="add" value="ADD">
    </form>

</div>
<div class="general_form_wrapper">
    <form class ="general_form admin-form" name="delete_category_form" action="index.php" method="get">
        <h1 class="page_title">DELETE SLIDES</h1>
        <fieldset>
            <input type="hidden" name="id" value="<[id_page1]>"/>
            <legend align="top">Select a Slide</legend>
            <select name="slide" multiple="multiple">
                <[slide_list::visualizzaSlides library="Utility"]>
            </select>
        </fieldset>
        <input class="button submit" id="registration_button" type="submit" name="del" value="DELETE">
    </form>
</div>
