<div class="general_form_wrapper">
    <form class="general_form admin-form" name="adm_remove_product" action="index.php" method="GET">
        <h1 class="page_title">Delete Product</h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <fieldset>
            <legend align="top">Insert product name</legend>
            <input type="text" name="name" />
        </fieldset>
        <fieldset class='naked'>
                <input class="button submit" id="registration_button" type="submit" name="del" value="DELETE" />
        </fieldset>
    </form>
</div>
<div class="general_form_wrapper">
    <form class="general_form admin-form" name="adm_add_product" action="manage_prod.php"
          enctype="multipart/form-data" method="POST">

        <h1 class="page_title">New Product</h1>

        <fieldset>
            <legend align="top">General Info</legend>
            <label>Name</label><input type="text" name="name" value="<[name]>" required="required"/>
            <label>Category</label>
            <select name="cat[]" multiple="multiple">
                <[cat_list::visualizzaCat library="Utility"]>
            </select>
            <label>Brand</label><input type="text" name="brand" value="<[brand]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Description</legend>
            <label>Brief Description</label><input type="text" name="b_descr" placeholder="max n chars" value="<[b_descr]>" required="required"/>
            <label>Long Description</label><input type="text" name="l_descr" placeholder="max n chars" value="<[l_descr]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Technical Data</legend>
            <label>Impedence(&#8486;)</label><input type="text" name="impedence" placeholder="&#8486;"value="<[impedence]>" required="required"/>
            <label>Sensitivity</label><input type="text" name="sensitivity" placeholder="dB/mW"value="<[sensitivity]>" required="required"/>
            <label>Features</label><h5>(put "|" at the end of a feature)</h5><input type="text" name="features" value="<[features]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Sale Data</legend>
            <label>Price</label><input type="text" name="price"value="<[price]>" required="required"/>
            <label>Quantity</label><input type="text" name="qty"value="<[qty]>" required="required"/>
            <label>Discount</label><input type="text" name="discount"value="<[discount]>" required="required"/>
        </fieldset>

        <fieldset>
            <legend>Photo</legend>
            <div id="search_file_input_div">
                <label>Small Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="small_img" value="<[small_img]>" required="required"/>
                <label>Big Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="big_img" value="<[big_img]>" required="required"/>
                <label>Medium Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="medium_img" value="<[medium_img]>" required="required"/>
                <label>Alternative Text</label><input type="text" name="alt_text" placeholder="max n chars"value="<[alt_text]>" required="required"/>
            </div>
        </fieldset>

        <fieldset class='naked'>
                <[error_message]>
                <input class="button submit" id="registration_button" type="submit" name="add" value="ADD" />
        </fieldset>
        
    </form>
</div>