<div class="general_form_wrapper">
    <form class ="general_form admin-form" name="delete_order_form" action="index.php" method="GET">
        <h1 class="page_title">DELETE ORDER</h1>
        <fieldset>
            <input type="hidden" name="id" value="<[id_page1]>"/>
            <legend align="top">Insert an order number</legend>
            <input type="text" name="n_ord" />
        </fieldset>
        <fieldset class="naked">
            <input class="button submit" id="registration_button" type="submit" name="del_order" value="DELETE">
        </fieldset>
    </form>
</div>
<div class="general_form_wrapper">
    <form class="general_form admin-form" name="adm_add_order" action="index.php"  method="GET">
        <h1 class="page_title">NEW ORDER</h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <fieldset>
            <legend align="top">User Info</legend>
            <label>User ID</label><input type="text" name="id_user" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Billing Address</legend>
            <label>Address</label><input type="text" name="address" required="required"/>
            <label>Country</label><input type="text" name="country" required="required"/>
            <label>City</label><input type="text" name="city" required="required"/>
            <label>ZIP</label><input name="ZIP" type="text" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Shipping Address</legend>
            <label>Name</label><input type="text" name="dest_name" required="required"/>
            <label>Surname</label><input type="text" name="dest_surname" required="required"/>
            <label>Address</label><input type="text" name="shipping_address" required="required"/>
            <label>Country</label><input type="text" name="shipping_country" required="required"/>
            <label>City</label><input type="text" name="shipping_city" required="required"/>
            <label>ZIP</label><input name="shipping_ZIP" type="text" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Payment Info</legend>
            <label>First Name</label><input type="text" name="id_user"/>
            <label>Last Name</label><input type="text" name="id_user"/>
            <label>Cart Number</label><input type="text" name="cart_number"/>
            <label>CVV</label><input type="text" name="cvv"/>
        </fieldset>
        <fieldset>
            <legend align="top">Order Info</legend>
            <label>Date</label><input type="text" name="date" required="required" placeholder="dd/mm/yyyy"/>
            <label>Shipping costs</label>
            <select name="shipping_costs">
                <[delivery_costs::visualizzaDeliveryCosts library="Utility"]>
            </select>
            <label>% VAT</label><input type="text" name="VAT"/>
            <label>Total</label><input type="text" name="total"/>
            <label>State<br/>(delivered,delivering)</label><input type="text" name="state" />
        </fieldset>
        <fieldset class='naked'>
            <[order_message]>
            <input class="button submit" id="registration_button" type="submit" name="add_order" value="ADD"/>
        </fieldset>
    </form>
</div>
<div class="general_form_wrapper">
    <form class="general_form admin-form" name="add_detail" action="index.php" method="GET">
        <h1 class="page_title">NEW ORDER DETAIL</h1>
        <input type="hidden" name="id" value="<[id_page2]>"/>
        <fieldset>
            <label>Order Number</label><input type="text" name="n_ord"/>
            <label>Product</label><select name="id_prod">
            <[product_list::optionProdotti library="Utility"]>
            </select>
            <label>Quantity</label><input type="text" name="qty"/>
            <label>Total</label><input type="text" name="total"/>
        </fieldset>
        <fieldset class="naked">
            <[detail_message]>
            <input class="button submit" id="registration_button" type="submit" name="add_detail" value="ADD"/>
        </fieldset>
    </form>
</div>
