<div class="general_form_wrapper">
    <form class="general_form" name="adm_remove_user" action="index.php" method="GET">
        <h1 class="page_title">Delete User</h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <fieldset>
            <legend align="top">Insert Username</legend>
            <input type="text" name="username" />
        </fieldset>
        <fieldset class='naked'>
                <input class="button submit" id="registration_button" type="submit" name="del" value="DELETE" />
        </fieldset>
    </form>
</div>
<div class="general_form_wrapper">
    <form class="general_form" name="adm_add_user" action="index.php" method="GET">

        <h1 class="page_title">New User</h1>
        <input type="hidden" name="id" value="<[id_page1]>"/>
        <fieldset>
            <legend align="top">General Info</legend>
            <label>Name</label><input type="text" name="name" value="<[name]>" required="required"/>
            <label>Surname</label><input type="text" name="surname" value="<[surname]>" required="required"/>
            <label>Date of Birth</label><input type="date" name="date_of_birth" value="<[date_of_birth]>" placeholder="dd/mm/yyyy"required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Identification data</legend>
            <label>Username</label><input type="text" name="username" value="<[username]>" required="required"/>
            <label>Password</label><input type="password" name="password" autocomplete="off" required="required"/>
            <label>Confirm Password</label><input type="password" name="confirm_pwd" autocomplete="off" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Contacts</legend>
            <label>E-mail</label><input type="text" name="email" value="<[email]>" required="required"/>
            <label>Phone</label><input type="text" name="phone" value="<[phone]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Group</legend>
            <select name="group">
                <[group_list::visualizzaGruppi library="Utility"]>
            </select>
        </fieldset>
        <fieldset class='naked'>
                <[error_message]>
                <input class="button submit" id="registration_button" type="submit" name="add" value="ADD" />
        </fieldset>
        
    </form>
</div>
