<!-- Header Menu
   ================================================== -->	
   <nav id="menu" class="container clearfix">	
         <ul class="sf-menu">
               <[main_menu::visualizza_menu library="menu" tipo="header" submenuclass="sub-menu"]>
               <[search_bar]>
         </ul>
   </nav>