<div class="general_form_wrapper">
    <form class="general_form" name="mods_user" action="index.php" method="GET">

        <h1 class="page_title">User <[username]></h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <fieldset>
            <legend align="top">General Info</legend>
            <input type="hidden" name="ID" value="<[id]>"/>
            <label>Name</label><input type="text" name="name" value="<[name]>" required="required"/>
            <label>Surname</label><input type="text" name="surname" value="<[surname]>" required="required"/>
            <label>Date of Birth</label><input type="date" name="date_of_birth" value="<[date_of_birth]>" placeholder="dd/mm/yyyy"required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Identification data</legend>
            <label>Password</label><input type="text" name="password" value="<[password]>" required="required"/>
            <label>Confirm Password</label><input type="text" name="confirm_pwd" autocomplete="off"/>
        </fieldset>
        <fieldset>
            <legend align="top">Contacts</legend>
            <label>E-mail</label><input type="text" name="email" value="<[email]>" required="required"/>
            <label>Phone</label><input type="text" name="phone" value="<[phone]>" required="required"/>
        </fieldset>
        <fieldset class='naked'>
                <[error_message]>
                <input class="button submit" id="registration_button" type="submit" name="mods" value="update" />
        </fieldset>
        
    </form>
</div>