<header class="page-header">
    <h1 class="page-title">Change Password</h1>
</header>
<div class='inner-container'>
    <div class="general_form_wrapper">
        <form class="general_form" name="adm_remove_user" action="myaccount.php" method="POST">
            <input type="hidden" name="id" value="<[id_page]>"/>
            <fieldset>
                <legend align="top">Current Password</legend>
                <label>Type Your Password</label><input type="password" name="curr_pwd" />
            </fieldset>
            <fieldset>
                <legend align="top">New Password</legend>
                <label>Type New Password</label><input type="password" name="new_pwd"/>
                <label>Retype New Password</label><input type="password" name="confirm_new_pwd"/>


            </fieldset>
            <input class="button submit" id="registration_button" type="submit" name="mod_pwd" value="UPDATE" />
        </form>
    </div>
    <div>
