<div class="general_form_wrapper">
    <form class="general_form" name="adm_mod_product" action="index.php" method="GET">

        <h1 class="page_title">Product <[id_prod]></h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <input type="hidden" name="ID" value="<[id]>"/>
        <fieldset>
            <legend align="top">General Info</legend>
            <label>Name</label><input type="text" name="name" value="<[name]>" required="required"/>
            <label>Category: <[cat]> </label>
            <label>Brand</label><input type="text" name="brand" value="<[brand]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Description</legend>
            <label>Brief Description</label><input type="text" name="b_descr" value="<[brief_descr]>" required="required"/>
            <label>Long Description</label><input type="text" name="l_descr" value="<[long_descr]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Technical Data</legend>
            <label>Impedence(&#8486;)</label><input type="text" name="impedence" placeholder="&#8486;"value="<[impedence]>" required="required"/>
            <label>Sensitivity</label><input type="text" name="sensitivity" placeholder="dB/mW"value="<[sensitivity]>" required="required"/>
            <label>Features <br />(put "|" at the end of a feature)</label><input type="text" name="features" value="<[features]>" required="required"/>
        </fieldset>
        <fieldset>
            <legend align="top">Sale Data</legend>
            <label>Price</label><input type="text" name="price"value="<[price]>" required="required"/>
            <label>Quantity</label><input type="text" name="qty"value="<[qty]>" required="required"/>
            <label>Discount</label><input type="text" name="discount"value="<[discount]>" required="required"/>
        </fieldset>

        <fieldset>
            <legend>Photo</legend>
            <div id="search_file_input_div">
                <label>Small Image</label><input type="text" name="small_img" value="<[image_small]>" required="required"/>
                <label>Big Image</label><input type="text" name="big_img" value="<[image_large]>" required="required"/>
                <label>Medium Image</label><input type="text" name="medium_img" value="<[image]>" required="required"/>
                <label>Alternative Text</label><input type="text" name="alt_text" value="<[alt_text]>" required="required"/>
            </div>
        </fieldset>

        <fieldset class='naked'>
                <[error_message]>
                <input class="button submit" id="registration_button" type="submit" name="mods" value="update" />
        </fieldset>
        
    </form>
</div>
