<div class="general_form_wrapper">
    <form class ="general_form" name="PURUPURUPURU" action="index.php" method="GET">
    <h1 class="page_title">Delivering Order</h1>
    </form>
    <[ordini_non_consegnati::visualizzaOrdini library="ordini" removeButton="class"]>
</div>
<div class="general_form_wrapper">
    <form class ="general_form" name="PURUPURUPURUPU" action="index.php" method="GET">
    <h1 class="page_title">Delivered Order</h1>
    </form>
    <[ordini_consegnati::visualizzaOrdini library="ordini" ]>
</div>
