 <!-- Page Title -->
<header class="page-header">
    <h1 class="page-title"><[titolo]></h1>
</header>
<!-- Inner Container Starts -->
<div class="inner-container">
        <[selettorePagine::visualizzaBottoni library="selettorePagine" max="6"]>
        <[selettorePaginePhp::visualizzaBottoniPhp library="selettorePagine" max="6"]>
    <[prodotti::visualizzaGriglia library="prodotto" firstclass="product first" lastclass="product last" normalclass ="product" num="9"]>					
</div>