<!-- Page Title -->
<header class="page-header">
    <h1 class="page-title"><[titolo]></h1>
</header>
<!-- Inner Container Starts -->
<div class="inner-container">
    <!--<nav class="prod_range">
        <form method="get" >
            <button class="prod_page_prev" name="page" value="2">&laquo;</button>
            <button name="page" value="1">1</button>
            <button name="page" value="2">2</button>
            <button class="prod_page_selected" name="page" value="3">3</button>
            <button name="page" value="1">4</button>
            <button name="page" value="2">5</button>
            <button class="prod_page_next" name="page" value="2">&raquo;</button>
        </form>-->
        <[selettorePagine::visualizzaBottoni library="selettorePagine" max="6" range="9"]>
    <!--</nav>-->
    <!-- Products -->
    <[prodotti::visualizzaGriglia library="prodotto" firstclass="product first" lastclass="product last" normalclass="product" length="3"num="9"]>					
</div>