
<header id="breadcrumb">
    <[percorsoProd::visualizzaPercorsoProdotto library="prodotto" ]>
</header>

<section class="t_prod_image_wrapper">

    <div class="t_prod_img_block">
        <a itemprop="image" href=""  rel="<[titolo_prod]>">
            <img src="<[image_large]>" alt="<[testo_alt]>" title="immagine prodotto" />
        </a>
        <div id="prod_star">
            <ul>
                <li class="star_row">
                    <span>
                        <input id='<[avg_rating::cssRating library="prodotto"]>' type='submit' readonly="readonly" disabled="disabled" />
                    </span>
                </li>
                <li class="votes"> <[tot_voti]> </li>
            </ul>
        </div>
    </div>

    <div class="product">
        <div class="summary">
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <p itemprop="price" class="price">
                    <span class="amount">&euro; <[prezzo]> </span>
                </p>
                <link itemprop="availability" href="<[quantita]>" />
            </div>
        </div>
    </div>
    <article>
        <h1 itemprop="name" class="product_title entry-title"> <[nome2_prod]> </h1>

        <p> <[breve_descr]> </p>
    </article>
    <form class="variations_form cart" action="index.php" method="GET">
        <input type="hidden" name="id" value="<[id_page2]>" />
        <input type="hidden" name="id_prod" value="<[id_prod2]>" />
        <input type="hidden" name="prezzo" value="<[prezzo2]>" />
        <button type="submit" name="insert" class="button">Add to Cart</button>
        <div id="add_product_count">
            <select name="num">
                <[option_qty::tendinaQuantita library="prodotto"]>
            </select>
        </div>
        <span>Quantity:&nbsp;</span>
    </form>
</section>

<section class="t_prod_more">
    <h1>Description</h1>
    <article>
        <p> <[lunga_descr]> </p>
    </article>
    <ul>
        <[features::visualizzaFeatures library="prodotto"]>
    </ul>
    <ul>
        <[specs::visualizzaSpecs library="prodotto"]>
    </ul>
</section>

<[commenta::visualizzaFormCommenti library="prodotto" ]>

<section class="t_prod_old_comment">
    <header><h1>USERS REVIEWS</h1></header>
    <[commenti::visualizzaCommenti library="prodotto" cssStar="single_star"]>
</section>
