<div class="general_form_wrapper">
    <form class="general_form" name="mods_user" action="index.php" method="GET">

        <h1 class="page_title">Search User</h1>
        <input type="hidden" name="id" value="<[id_page]>"/>
        <fieldset>
            <legend align="top">Username</legend>
            <input type="text" name="username" required="required"/>
        </fieldset>
        <fieldset class='naked'>
                <[error_message]>
                <input class="button submit" id="registration_button" type="submit" name="search" value="search" />
        </fieldset>
        
    </form>
</div>