<div class="general_form_wrapper">
    <form class="general_form" name="adm_mod_product" action="index.php" method="GET">

        <h1 class="page_title">Search Product by ID</h1>
        <input type="hidden" name="id" value="<[id_page1]>"/>
        <fieldset>
            <legend align="top">ID</legend>
            <input type="text" name="ID" required="required"/>
        </fieldset>
        <fieldset class='naked'>
                <[e_mex1]>
                <input class="button submit" id="registration_button" type="submit" name="searchID" value="search" />
        </fieldset>
    </form>
</div>

<div class="general_form_wrapper">
    <form class="general_form" name="adm_mod_product_s" action="index.php" method="GET">
        <h1 class="page_title">Search Product by Name</h1>
        <input type="hidden" name="id" value="<[id_page2]>"/>
        <fieldset>
            <legend align="top">Name</legend>
            <input type="text" name="name" required="required"/>
            
        </fieldset>
        <fieldset class='naked'>
                <[e_mex2]>
                <input class="button submit" id="registration_button" type="submit" name="searchNAME" value="search" />
        </fieldset>
    </form>
</div>