<!-- Search Form -->
<li class="search"> 
    <!--<form method="get" action="index.php">
      <p>
         <input class="text_input" type="text" name="s" id="s" placeholder="Search" />
         <input type="hidden" name ="id" value="<[script]>" />
         <input type="submit" id="searchsubmit" value="Search" />
    </p>
    </form> -->
    <form autocomplete="off" method="get" action="index.php" id="searchbarForm">
        <input class="text_input" type="text" name="s" id="s" size="30" placeholder="Search">
        <input type="hidden" name ="id" value="<[script]>" />
        <input type="submit" id="searchsubmit" value="Search" />
 
    </form>

</li>