<!-- Shop Cateogries Widget -->
<div class="widget widget_nav_menu">
   <h4 class="widgettitle">Shop By</h4>
      <ul class="menu">
         <li><a href="skin/dtml/shop-category.html">Menswear</a>
            <ul class="sub-menu">
               <li><a href="skin/dtml/shop-category.html">T-Shirts</a></li>
               <li><a href="skin/dtml/shop-category.html">Trainers</a></li>
               <li><a href="skin/dtml/shop-category.html">Accessories</a></li>
            </ul>
         </li>
         <li><a href="skin/dtml/shop-category.html">Womenswear</a></li>
         <li><a href="skin/dtml/shop-category.html">Spring Season</a></li>
      </ul>
</div>