
<div class="widget widget_loginform widget" id="logout_button">	
    <h2 class="side_username">Hello <[username]>!</h2>
    <form method="post" action="logout.php">
        <ul>
            <li>
                <input type="submit" name="logout" value="Logout" class="button submit" />
            </li>
        </ul>         
    </form>
</div>