
<nav class="widget_wrapper">
    <form class="filter_bar" method="get" action="index.php">
        <ul><li><span>OPTIONS</span></li>
            <ul>
                <li><span id="mod_user">MODIFY ACCOUNT DATA</span></li>
                <li><span id="del_user">DELETE ACCOUNT</span></li>
                <li><span id="change_pwd">CHANGE PASSWORD</span></li>
                <li><span id="canc_orders">CANCEL PENDING ORDER</span></li>
            </ul>
        </ul>
    </form>
</nav>
