
<nav class="widget_wrapper">
    <form class="filter_bar" method="get" action="index.php">
        <input name="id" type="hidden" value="8"/><!-- PARAMETRO GET PER LA PAGINA product_list.php-->
        <ul>
            <li><span>categories</span>
                <ul>
                    <[cat::visualizzaCategorie library=filter]>
                </ul>
            </li>
            <li><span>price</span>
                <ul>
                    <li><button name="price1" value="price<10.00" >(1) under &euro;10</button></li>
                    <li><button name="price2" value="price BETWEEN 10.00 AND 50.00">(2) from &euro;10 to &euro;50</button></li>
                    <li><button name="price3" value="price BETWEEN 50.00 AND 100.00">(3) from &euro;50 to &euro;100</button></li>
                    <li><button name="price4" value="price BETWEEN 100.00 AND 200.00">(4) from &euro;100 to &euro;200</button></li>
                    <li><button name="price5" value="price>200.00">(5) from above &euro;200</button></li>
                </ul>
            </li>
            <li><span>rating</span>    
                <ul>
                    <[rating::visualizzaRating library="filter" classcss="star_row" idcss="star_1,star_2,star_3,star_4,star_5"]>
                </ul>
            </li>
            <li><span>discount</span>
                <ul>
                    <li><button name="discount1" value="discount<10">(1) under 10%</button></li>
                    <li><button name="discount2" value="discount BETWEEN 10 AND 25">(2) from 25% to 50%</button></li>
                    <li><button name="discount3" value="discount BETWEEN 50 AND 65">(3) from 50% to 65%</button></li>
                    <li><button name="discount4" value="discount>65">(4) above 65%</button></li>
                </ul>
            </li>
            <li><span>tech specs</span>
                <ul class="hasSubMenus">
                    <li><span>Impedence</span>
                        <ul>
                            <li><button name="impedence1" value="impedence<100">(1) low  ( &le;100&Omega;)</button></li>
                            <li><button name="impedence2" value="impedence>=100">(2) high  ( &ge;100&Omega;)</button></li>
                        </ul>
                    </li>
                    <li><span>Sensitivity&nbsp;<span class="title_note">(dB/mW)</span></span>
                        <ul>
                            <li><button name="sensitivity1" value="sensitivity<80">(1) below 80</button></li>
                            <li><button name="sensitivity2" value="sensitivity BETWEEN 80 AND 90">(2) 80 to 90</button></li>
                            <li><button name="sensitivity3" value="sensitivity BETWEEN 90 AND 100">(3) 90 to 100</button></li>
                            <li><button name="sensitivity4" value="sensitivity>100">(4) above 100</button></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span>Applied&nbsp;filters</span>
                <!--<ul>-->
                    <[filterapplied::visualizzaFiltriApplicati library="filter"]>
                    <!--<li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>
                    <li><button value="del_flt">below 80</button></li>-->
                <!--</ul>-->
            </li>
        </ul>

    </form>
</nav>