<!-- Shop Cateogries Widget -->
<div class="widget_wrapper">
   <h4 class="widgettitle">Shop By</h4>
      <ul class="menu">
         <li><a href="skin/dtml/shop-category.html">Menswear</a></li>
         <li><a href="skin/dtml/shop-category.html">Womenswear</a></li>
         <li><a href="skin/dtml/shop-category.html">Spring Season</a></li>
      </ul>
</div>