<!-- Login Widget -->				
<div class="widget_wrapper"> 
    <form id="loginForm" method="post" action="login.php">
        <ul>
            <li><span>Members</span>
                <a id="register_button" href="index.php?id=5">
                    <h6>Register Now!</h6>
                </a>
            </li>
            <input type="hidden" name="page" value="<[id_page]>" />
            <li><input type="text" class="username" placeholder="Username" name="username" autocomplete="off"/></li>
            <li>
                <input type="password" class="password" placeholder="Password" name="password" autocomplete="off" />
                <input type="submit" name="submit" value="Login" class="button submit" />
            </li>
            <!--<li><div class="error_message">ERROR</div></li>-->
        </ul>         
    </form>
</div>