<nav class="widget_wrapper">
    <form class="filter_bar" method="get" action="index.php">
        <ul>
            <li><span>Products</span>
                <ul>
                    <li><button name="id" value="<[page_cat]>" >Add & Delete Categories</button></li>
                    <li><button name="id" value="<[page_adprod]>" >Add & Delete Products</button></li>
                    <li><button name="id" value="<[page_mprod]>" >Modify Products</button></li>
                </ul>
            </li>
            <li><span>Slides</span>
                <ul>
                    <li><button name="id" value="<[page_slide]>">Add & Delete Slides</button></li>
                </ul>
            </li>
            <li><span>Orders</span>
                <ul>
                    <li><button name="id" value="<[page_order]>">Add & Delete Orders</button></li>
                </ul>
            </li>
            <li><span>Users</span>
                <ul>
                    <li><button name="id" value="<[page_user]>">Add & Delete Users</button></li>
                    <li><button name="id" value="<[page_muser]>">Modify User Data</button></li>
                </ul>
            </li>
        </ul>

   </form>
</nav>