<!-- NivoSlider 
	================================================== -->
	 <div class="slider-wrapper theme-default clearfix">
		<div id="slider" class="nivoSlider">
                  <[slides::visualizza library="slider" firstslideclass="firstslide"]>
		</div>
      </div>  