<!-- Social Widget -->
<div class="widget widget_socialwidget">	
      <h4 class="widgettitle">Follow Us</h4>
      <ul class="social">
            <li><a class="facebook" <[facebook_link]> >Facebook</a></li>
            <li><a class="twitter" <[twitter_link]> >Twitter</a></li>
            <li><a class="email" <[email_link]> >Email</a></li>
            <li><a class="rssfeed" <[rss_link]> >RSS Feed</a></li>
      </ul>			
</div>