<!-- NivoSlider 
	================================================== -->
	 <div class="slider-wrapper theme-default clearfix">
		<div id="slider" class="nivoSlider">
			<img src="skin/images/placeholder/slide.jpg" data-thumb="images/placeholder/slide.jpg" alt="" />
			<img src="skin/images/placeholder/menswear.jpg" data-thumb="images/placeholder/menswear.jpg" alt="" />
                  <img src="skin/images/placeholder/slide.jpg" data-thumb="images/placeholder/slide.jpg" alt="" />
			<img src="skin/images/placeholder/menswear.jpg" data-thumb="images/placeholder/menswear.jpg" alt="" />
		</div>
      </div>

        <!-- 
        è necessario prevedere un modo per caricare almeno una immagine 
        dentro una div quando non sono abilitati gli script
        bisogna testare il codice e creare il relativo foglio di stile
        per la versione dello "slider" statico (senza script)
        -->
        
      <noscript>
		<div>
               <img src="skin/images/placeholder/slide.jpg" />
           	</div>
      </noscript> 


<!-- Shop Cateogries Widget -->
			<div class="widget widget_nav_menu">
				<h4 class="widgettitle">Shop By</h4>
					<ul class="menu">
						<li><a href="skin/dtml/shop-category.html">Menswear</a>
							<ul class="sub-menu">
								<li><a href="skin/dtml/shop-category.html">T-Shirts</a></li>
								<li><a href="skin/dtml/shop-category.html">Trainers</a></li>
								<li><a href="skin/dtml/shop-category.html">Accessories</a></li>
							</ul>
						</li>
						<li><a href="skin/dtml/shop-category.html">Womenswear</a></li>
						<li><a href="skin/dtml/shop-category.html">Spring Season</a></li>
					</ul>
			</div>

<!-- Product Carousel -->
			<div id="carousel" class="es-carousel-wrapper">
				<span class="slide-title">Featured Items</span>
				<div class="es-carousel">
					<ul>
						<li><a href="skin/dtml/product.html"><img src="skin/images/placeholder/branded-belt-145x108.jpg" alt="" title="" /></a></li>
						<li><a href="skin/dtml/product.html"><img src="skin/images/placeholder/mens-bag-145x108.jpg" alt="" title="" /></a></li>
						<li><a href="skin/dtml/product.html"><img src="skin/images/placeholder/aviators-145x108.jpg" alt="" title="" /></a></li>
						<li><a href="skin/dtml/product.html"><img src="skin/images/placeholder/sex-pistols-t-shirt-145x108.jpg" alt="" title="" /></a></li>
						<li><a href="skin/dtml/product.html"><img src="skin/images/placeholder/chucks2-145x108.jpg" alt="" title="" /></a></li>
					</ul>
				</div>
			
			</div>

<!-- Inner Container Starts -->
			<div class="inner-container">
						
				<!-- Products -->
				<ul class="products">
					<li class="product first">
						<a href="skin/dtml/product.html">
							<img src="skin/images/placeholder/branded-belt-220x164.jpg" alt="" title="" />
							<h3>Branded Belt</h3>
							<span class="price">&#36;15.00</span>
						</a>
					</li>
										
					<li class="product">
						<a href="skin/dtml/product.html">
							<span class="onsale">Sale!</span>
							<img src="skin/images/placeholder/mens-bag-220x164.jpg" alt="" title="" />
							<h3>Men&#8217;s Satchel</h3>
							<span class="price">&#36;25.00</span>
						</a>
					</li>
					
					<li class="product last">
						<a href="skin/dtml/product.html">
							<img src="skin/images/placeholder/branded-shoe-220x164.jpg" alt="" title="" />
							<h3>Branded Trainers</h3>
							<span class="price">&#36;27.00</span>
						</a>
					</li>
					
					<li class="product first">
						<a href="skin/dtml/product.html">
							<img src="skin/images/placeholder/black-shoe-220x164.jpg" alt="" title="" />
							<h3>Black Trainers</h3>
							<span class="price">&#36;20.00</span>
						</a>
					</li>
					
					<li class="product">
						<a href="skin/dtml/product.html">
							<img src="skin/images/placeholder/pixelstores-t-shirt-220x164.jpg" alt="" title="" />
							<h3>Branded T-Shirt</h3>
							<span class="price">&#36;35.00</span>
						</a>
					</li>
					
					<li class="product last">
						<a href="skin/dtml/product.html">
							<img src="skin/images/placeholder/typography-shirt-220x164.jpg" alt="" title="" />
							<h3>T-Shirt with Type</h3>
							<span class="price">&#36;35.00</span>
						</a>
					</li>
					
				</ul>								
			</div>


<!-- menu principale -->
<nav id="menu" class="container clearfix">	
		<ul class="sf-menu">
			<li class="current-menu-item"><a href="index-2.html">Home</a></li>

			<li><a href="pages/shop.html">Shop</a></li>

			<li><a href="pages/features.html">Features</a></li>

			<li><a href="pages/blog.html">Blog</a></li>

			<li><a href="pages/login.html">My Account</a>
				<ul class="sub-menu">
					<li><a href="pages/cart.html">Cart</a></li>
					<li><a href="pages/checkout.html">Checkout</a></li>
					<li><a href="pages/login.html">Login</a></li>
				</ul>
			</li>
			<li class="last-menu-item"><a href="pages/contact.html">Contact</a></li>
			
			<!-- Search Form -->
			<li class="search">
				<form>
					<p>
						<input class="text_input" type="text" value="Search" name="s" id="s" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
						<input type="submit" id="searchsubmit" value="Search" />
					</p>
				</form>
			</li>													
		</ul>
	</nav>
	
                  
                  
<!-- Social Widget -->
			<div class="widget widget_socialwidget">	
				<h4 class="widgettitle">Follow Us</h4>
				<ul class="social">
					<li><a class="facebook" <[facebook_link]> >Facebook</a></li>
					<li><a class="twitter" <[twitter_link]> >Twitter</a></li>
					<li><a class="email" <[email_link]> >Email</a></li>
					<li><a class="rssfeed" <[rss_link]> >RSS Feed</a></li>
				</ul>			
			</div>


<!-- form la login da inserire nella section.content -->
<div class="general_form_wrapper">
    <form class="general_form" name="login_form" action="login.php" method="POST">
        <fieldset class='page_title_wrapper'>   
            <h1 class="page_title">Login</h1>
            <a id='register_button' href="tette.php"><h6>Register Now!</h6></a>
        </fieldset>
        <fieldset>
            <label>Username</label><input type="text" name="username" />
            <label>Password</label><input type="password" name="password" />
        </fieldset>
        <fieldset class='naked'>
            <p>
                Error message here 
            </p>
            <input class="button submit" id="registration_button" type="submit" name="submit" value="Submit">
        </fieldset>
    </form>
</div>

<!-- form per la modifica dei dati personali degli utenti -->
<div class="general_form_wrapper">
    <form class="general_form" name='user_settings_form' action='' method='POST'>
        <h1 class="page_title">Profile Settings</h1>
        <fieldset>
            <legend align="top">Login Data</legend>
            <label>Username</label><input type="text" name="username" readonly='readonly' value='<[username]>'/>
            <label>Password</label><input type="password" name="password" />
            <label>Confirm Password </label><input type="password" name="confirm_password" />
        </fieldset>
        <fieldset>
            <legend align ="top">Personal Data</legend>
            <label>Name</label><input type="text" name="name" readonly="readonly" value='<[name]>' />
            <label>Surname</label><input type ="text" name="surname" readonly="readonly" value='<[surname]>'/>
        </fieldset>
        <fieldset>
            <legend align="top">Contacts</legend>
            <label>Country</label><input type="text" name="country" value='<[country]>'/>
            <label>Mail Address</label><input type="text" name="address"  value='<[email]>'/>
            <label>City</label><input type="text" name ="city"  value='<[city]>'/>
            <label>State</label><input type="text" name ="state"  value='<[state]>'/>
            <label>ZIP</label><input type="text" name="zip"  value='<[zip]>'/>   
            <label>Email</label> <input type="text" name="email"  value='<[email]>'/>
            <label>Phone</label><input type="text" name="phone"  value='<[phone]>'/>
        </fieldset>
        <fieldset class='naked'>
            <p>
                Error message here very 
            </p>
            <input class="button submit" id="registration_button" type="submit" name="submit" value="Submit">
        </fieldset>
    </form>
</div>

<!-- form per la gestione dei metodi di pagamento -->

<div class="general_form_wrapper">
    <form class="general_form" name='delivery_settings_form' action='' method='POST'>
        <h1 class="page_title">Favourite Delivery Address</h1>
        <table>

            <tr>
                <td>
                    <fieldset class="alligned_boxes">
                        <label>Name</label><input type="text" name="d_name" value='<[d_name]>'/>
                        <label>Surname</label><input type="text" name="d_surname" value='<[d_surname]>'/>
                        <label>Country</label><input type="text" name="d_country" value='<[d_country]>'/>
                        <label>Address</label><input type="text" name="d_address"  value='<[d_email]>'/>
                        <label>City</label><input type="text" name ="d_city"  value='<[d_city]>'/>
                        <label>State</label><input type="text" name ="d_state"  value='<[d_state]>'/>
                        <label>ZIP</label><input type="text" name="d_zip"  value='<[d_zip]>'/>   
                    </fieldset>
                </td>
                <td>
                    <fieldset class="alligned_boxes">
                        <label>Name</label><input type="text" name="d_name" value='<[d_name]>'/>
                        <label>Surname</label><input type="text" name="d_surname" value='<[d_surname]>'/>
                        <label>Country</label><input type="text" name="d_country" value='<[d_country]>'/>
                        <label>Address</label><input type="text" name="d_address"  value='<[d_email]>'/>
                        <label>City</label><input type="text" name ="d_city"  value='<[d_city]>'/>
                        <label>State</label><input type="text" name ="d_state"  value='<[d_state]>'/>
                        <label>ZIP</label><input type="text" name="d_zip"  value='<[d_zip]>'/>   
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset class="alligned_boxes">
                        <label>Name</label><input type="text" name="d_name" value='<[d_name]>'/>
                        <label>Surname</label><input type="text" name="d_surname" value='<[d_surname]>'/>
                        <label>Country</label><input type="text" name="d_country" value='<[d_country]>'/>
                        <label>Address</label><input type="text" name="d_address"  value='<[d_email]>'/>
                        <label>City</label><input type="text" name ="d_city"  value='<[d_city]>'/>
                        <label>State</label><input type="text" name ="d_state"  value='<[d_state]>'/>
                        <label>ZIP</label><input type="text" name="d_zip"  value='<[d_zip]>'/>   
                    </fieldset>
                </td>
                <td>
                    <fieldset class="alligned_boxes">
                        <a id="new_address_field" href="new_address_field.php"></a>
                    </fieldset>
                </td>

            </tr>
        </table>
        <input class="button submit" id="registration_button" type="submit" name="submit" value="Submit">

    </form>
</div>


<!-- 

ADMIN SECTION


form la login da inserire nella section.content -->
</br></br>
<h1 style="text-align: center">ADMIN SECTION</h1>

<div class="general_form_wrapper">
    <form class="general_form" name="adm_add_product" action="manage_prod.php" 
          enctype="multipart/form-data" method="POST">

        <h1 class="page_title">New Product</h1>

        <fieldset>
            <legend align="top">General Info</legend>
            <label>Name</label><input type="text" name="name" value="<[name]>"/>
            <label>Category</label>
            <select required="required" multiple="multiple" name="cat">
                <[categorie]><!--gestire selected in caso aggiornamento-->
            </select>
            <label>Brand</label><input type="text" name="brand" value="<[brand]>"/>
        </fieldset>
        <fieldset>
            <legend align="top">Description</legend>
            <label>Brief Description</label><input type="text" name="b_descr" placeholder="max n chars" value="<[b_descr]>"/>
            <label>Long Description</label><input type="text" name="l_descr" placeholder="max n chars" value="<[l_descr]>"/>
        </fieldset>
        <fieldset>
            <legend align="top">Technical Data</legend>
            <label>Impedence</label><input type="text" name="impedence" placeholder="&#8486;"value="<[impedence]>"/>
            <label>Sensitivity</label><input type="text" name="sensitivity" placeholder="db/"value="<[sensitivity]>"/>
            <label>Features(Each enter is a new features)</label><input type="text" name="features" placeholder="Press Enter for new features"value="<[features]>"/>
        </fieldset>
        <fieldset>
            <legend align="top">Sale Data</legend>
            <label>Price</label><input type="text" name="price"value="<[price]>"/>
            <label>Quantity</label><input type="text" name="qty"value="<[qty]>"/>
            <label>Discount</label><input type="text" name="discount"value="<[discount]>"/>
        </fieldset>

        <fieldset>
            <legend>Photo</legend>
            <div id="search_file_input_div">
                <label>Small Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="small_img" value="<[s_img]>"/>
                <label>Big Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="big_img" value="<[b_img]>"/>
                <label>Medium Image</label><input type="file" accept="image/png, image/jpeg, image/gif" name="medium_img" value="<[m_img]>"/>
                <label>Alternative Text</label><input type="text" name="alt_text" placeholder="max n chars"value="<[alt_text]>"/>
            </div>
        </fieldset>

        <fieldset class='naked'>
            <p>
                Error message here 
            </p>
            <input class="button submit" id="registration_button" type="submit" name="submit" value="Submit" />
        </fieldset>
        
    </form>
</div>

<!-- First Product		
            <tr class="cart_table_item">

                <!-- Product remove
                <td class="product-remove">
                    <a href="#" class="remove" title="Remove this item">&times;</a>
                </td>

                <!-- Product thumbnail 
                <td class="product-thumbnail">
                    <a href="product.html">
                        <img src="skin/images/placeholder/mens-bag-100x77.jpg" alt="" title="" />
                    </a>					
                </td>

                <!-- Product name 
                <td class="product-name">
                    <a href="product.html">Men&#8217;s Satchel</a>						
                </td>

                <!-- Product price -->
                <td class="product-price">
                    <span class="amount">&#36;20.00</span>						
                </td>

                <!-- Quantity inputs -->
                <td class="product-quantity">
                    <div class="quantity">
                        <input type="button" value="-" class="minus"><input name="quantity" data-min="1" data-max="35" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12"><input type="button" value="+" class="plus">
                    </div>						
                </td>

                <!-- Product subtotal -->
                <td class="product-subtotal">
                    <span class="amount">&#36;20.00</span>						
                </td>

            </tr>

            <!-- Second Product -->		
            <tr class="cart_table_item">

                <!-- Product remove -->
                <td class="product-remove">
                    <a href="#" class="remove" title="Remove this item">&times;</a>						
                </td>

                <!-- The thumbnail -->
                <td class="product-thumbnail">
                    <a href="product.html">
                        <img src="skin/images/placeholder/aviators-100x77.jpg" alt="" title="" />
                    </a>						
                </td>

                <!-- Product Name -->
                <td class="product-name">
                    <a href="product.html">Aviators</a>						
                </td>

                <!-- Product price -->
                <td class="product-price">
                    <span class="amount">&#36;20.00</span>						
                </td>

                <!-- Quantity inputs -->
                <td class="product-quantity">
                    <div class="quantity">
                        <input type="button" value="-" class="minus"><input name="quantity" data-min="1" data-max="35" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12"><input type="button" value="+" class="plus">
                    </div>						
                </td>

                <!-- Product subtotal -->
                <td class="product-subtotal">
                    <span class="amount">&#36;20.00</span>						
                </td>

            </tr>

            <!-- Third Product -->		
            <tr class="cart_table_item">

                <!-- Product remove -->
                <td class="product-remove">
                    <a href="#" class="remove" title="Remove this item">&times;</a>						
                </td>

                <!-- The thumbnail -->
                <td class="product-thumbnail">
                    <a href="product.html">
                        <img src="skin/images/placeholder/pixelstores-t-shirt1-100x77.jpg" alt="" title="" />
                    </a>							
                </td>

                <!-- Product Name -->
                <td class="product-name">
                    <a href="product.html">Branded T-Shirt</a>
                    <dl class="variation"><dt>Size:</dt><dd>Medium</dd><dt>Colour:</dt><dd>Black</dd></dl>						
                </td>

                <!-- Product price -->
                <td class="product-price">
                    <span class="amount">&#36;35.00</span>						
                </td>

                <!-- Quantity inputs -->
                <td class="product-quantity">
                    <div class="quantity">
                        <input type="button" value="-" class="minus"><input name="quantity" data-min="1" data-max="35" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12"><input type="button" value="+" class="plus">
                    </div>						
                </td>

                <!-- Product subtotal -->
                <td class="product-subtotal">
                    <span class="amount">&#36;35.00</span>						
                </td>
                </tr>

            <tr>
                <!-- Coupon / Checkout Buttons -->		
                <td colspan="6" class="actions">
                    <div class="coupon">
                        <label for="coupon_code">Coupon:</label> 
                        <input name="coupon_code" class="input-text" id="coupon_code" value="" /> 
                        <input type="submit" class="button" name="apply_coupon" value="Apply Coupon" />
                    </div>	
                    <input type="submit" class="button" name="update_cart" value="1" /> 
                    <input type="submit" onclick="location.href = 'checkout.html'" class="checkout-button button alt" name="proceed" value="Proceed to Checkout &rarr;" />

                </td>
            </tr>