<nav class="widget_wrapper">
    <h3 class="widgettitle">Search Filtes</h3>

    <form method="get" class="prod_filters_form" action="<[filter_action]>">

        <ul class="filter_menu">
            <li><span>category</span></li>
            <li><span>popularity</span></li>
            <li><span>price</span></li>
            <li><span>techical data&</span>
                <ul class="filter_submenu">
                    <li><input  type="submit" value="but3_1" name="filter3_1" /></li>
                    <li><input  type="submit" value="but3_2" name="filter3_2" /></li>
                    <li><input  type="submit" value="but3_3" name="filter3_3" /></li>
                </ul>
            </li>
        </ul>
        
        <[already_applied]>

    </form>

</nav>